----
<img src="../../files/refinitiv.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Pricing Stream Recorder
This notebook demonstrates how to use the pricing recorder to record a history of streaming data and generate Open High Low Close bars.

#### About the record() method
The **record()** method allows you record data events received by a PricingStream object. Received data can be used to automatically generate OHLC bars stored by the recorder.

***record()*** parameters: 
- ***frequency***: Frequency used to generate ohlc bars
    - Type: String
    - Optional: Yes  
- ***duration***: Recording duration. Can be provided in seconds, minutes, hours
    - Type: String
    - Optional: Yes  
- ***ticks_per_bar***: Number of ticks to record for Tick Bars recording 
    - Type: String
    - Optional: Yes  
- ***on_data***: Callback function called when a new tick is received or when a new bar is calculated
    - Type: Function
    - Optional: Yes

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/tutorials),
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import refinitiv.data as rd
import datetime
from IPython.display import display, clear_output

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session()

## Retrieve data

### Record ticks

#### Create and open a Pricing stream

In [3]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Start recording

In [4]:
stream.recorder.record(frequency='tick')

... Wait for a little while (20 to 30 seconds) ...

#### Stop recording and display the recorded history

In [5]:
stream.recorder.stop()
tick_history = stream.recorder.get_history()
display(tick_history)

                              EUR=            JPY=            GBP=
                               ASK     BID     ASK     BID     ASK     BID
Timestamp
2023-03-07 09:57:54.406425    <NA>    <NA>  135.95  135.94    <NA>    <NA>
2023-03-07 09:57:54.651588    <NA>    <NA>    <NA>    <NA>  1.2038  1.2037
2023-03-07 09:57:54.824448  1.0685  1.0681    <NA>    <NA>    <NA>    <NA>
2023-03-07 09:57:54.997744    <NA>    <NA>    <NA>    <NA>  1.2038  1.2037
2023-03-07 09:57:55.110608  1.0683  1.0682    <NA>    <NA>    <NA>    <NA>
...                            ...     ...     ...     ...     ...     ...
2023-03-07 09:58:08.819230    <NA>    <NA>    <NA>    <NA>   1.204  1.2036
2023-03-07 09:58:09.113347  1.0685  1.0681    <NA>    <NA>    <NA>    <NA>
2023-03-07 09:58:09.113398    <NA>    <NA>    <NA>    <NA>   1.204  1.2036
2023-03-07 09:58:09.310376    <NA>    <NA>  135.98  135.96    <NA>    <NA>
2023-03-07 09:58:09.437070    <NA>    <NA>    <NA>    <NA>  1.2038  1.2037

[99 rows x 6 columns]

#### Resample the tick history to 5 seconds bars

In [6]:
tick_history.ohlc("5s")

                       EUR=                                                  \
                        ASK                             BID
                       open    high     low   close    open    high     low
Timestamp
2023-03-07 09:57:50  1.0685  1.0685  1.0685  1.0685  1.0681  1.0681  1.0681
2023-03-07 09:57:55  1.0683  1.0686  1.0683  1.0686  1.0682  1.0682  1.0681
2023-03-07 09:58:00  1.0686  1.0686  1.0683  1.0686  1.0682  1.0683  1.0681
2023-03-07 09:58:05  1.0686  1.0686  1.0685  1.0685  1.0682  1.0682  1.0681

                               JPY=          ...                    GBP=  \
                                ASK          ...     BID             ASK
                      close    open    high  ...     low   close    open
Timestamp                                    ...
2023-03-07 09:57:50  1.0681  135.95  135.95  ...  135.94  135.94  1.2038
2023-03-07 09:57:55  1.0682  135.95  135.96  ...  135.93  135.93  1.2038
2023-03-07 09:58:00  1.0682  135.96  135.98  ...  135.93  135.95  1.2040
2023-03-07 09:58:05  1.0681  135.98  135.98  ...  135.95  135.96  1.2039


                                                BID
                       high     low   close    open    high     low   close
Timestamp
2023-03-07 09:57:50  1.2038  1.2038  1.2038  1.2037  1.2037  1.2037  1.2037
2023-03-07 09:57:55  1.2040  1.2038  1.2040  1.2037  1.2037  1.2035  1.2036
2023-03-07 09:58:00  1.2040  1.2038  1.2039  1.2036  1.2038  1.2036  1.2037
2023-03-07 09:58:05  1.2040  1.2038  1.2038  1.2037  1.2038  1.2036  1.2037

[4 rows x 24 columns]

#### Close the stream

In [7]:
stream.close()

### Record OHLC bars for a given duration

#### Create and open a Pricing stream

In [8]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Start recording

Start recording 2 seconds OHLC bars for a duration of 10 seconds

In [9]:
stream.recorder.record(frequency='2s', duration='10s')
stream.recorder.stop()

#### Display the recorded history

In [10]:
stream.recorder.get_history()

                              EUR=                                          \
                               ASK                             BID
                              open    high     low   close    open    high
Timestamp
2023-03-07 09:58:24.994305  1.0685  1.0685  1.0685  1.0685  1.0683  1.0683
2023-03-07 09:58:27.024869  1.0685  1.0685  1.0684  1.0684  1.0681  1.0683
2023-03-07 09:58:29.049628  1.0685  1.0685  1.0684  1.0685  1.0681  1.0683
2023-03-07 09:58:31.078948  1.0685  1.0685  1.0684  1.0685  1.0681  1.0682
2023-03-07 09:58:33.105317  1.0685  1.0685  1.0685  1.0685  1.0681  1.0681

                                              JPY=          ...          \
                                               ASK          ...     BID
                               low   close    open    high  ...   close
Timestamp                                                   ...
2023-03-07 09:58:24.994305  1.0683  1.0683  135.98  135.99  ...  135.96
2023-03-07 09:58:27.024869  1.0681  1.0683  135.98  135.99  ...  135.96
2023-03-07 09:58:29.049628  1.0681  1.0681  135.98  135.99  ...  135.97
2023-03-07 09:58:31.078948  1.0681  1.0681  135.98  136.00  ...  135.97
2023-03-07 09:58:33.105317  1.0681  1.0681  135.98  135.99  ...  135.96

                              GBP=                                          \
                               ASK                             BID
                              open    high     low   close    open    high
Timestamp
2023-03-07 09:58:24.994305  1.2038  1.2038  1.2038  1.2038  1.2037  1.2037
2023-03-07 09:58:27.024869  1.2038  1.2039  1.2038  1.2039  1.2037  1.2037
2023-03-07 09:58:29.049628  1.2041  1.2041  1.2038  1.2041  1.2036  1.2037
2023-03-07 09:58:31.078948  1.2038  1.2039  1.2038  1.2039  1.2037  1.2037
2023-03-07 09:58:33.105317  1.2038  1.2039  1.2038  1.2039  1.2037  1.2037

                                           ticks count

                               low   close
Timestamp
2023-03-07 09:58:24.994305  1.2037  1.2037           8
2023-03-07 09:58:27.024869  1.2035  1.2035          12
2023-03-07 09:58:29.049628  1.2035  1.2036          14
2023-03-07 09:58:31.078948  1.2035  1.2035          16
2023-03-07 09:58:33.105317  1.2035  1.2035           8

[5 rows x 25 columns]

#### Close the stream

In [11]:
stream.close()

### Record OHLC bars with events

#### Create and open a Pricing stream

In [12]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Define a callback to receive new bars

In [13]:
def print_history(bar, recorder):
    clear_output(wait=True)
    current_time = datetime.datetime.now().time()
    print("New bar received at", current_time)
    display(bar)

#### Start recording

Start recording 5 seconds OHLC bars

In [14]:
stream.recorder.record(frequency='5s', on_data=print_history)

New bar received at 09:58:55.878561

                              JPY=                                          \
                               ASK                             BID
                              open    high     low   close    open    high
Timestamp
2023-03-07 09:58:55.857973  135.99  136.01  135.98  135.98  135.98  135.98

                                              GBP=          ...          \
                                               ASK          ...     BID
                               low   close    open    high  ...   close
Timestamp                                                   ...
2023-03-07 09:58:55.857973  135.96  135.97  1.2037  1.2039  ...  1.2036

                              EUR=                                          \
                               ASK                             BID
                              open    high     low   close    open    high
Timestamp
2023-03-07 09:58:55.857973  1.0685  1.0685  1.0683  1.0683  1.0681  1.0682

                                           ticks count

                               low   close
Timestamp
2023-03-07 09:58:55.857973  1.0681  1.0682          26

[1 rows x 25 columns]

... Wait for a little while (20 to 30 seconds) ...

#### Stop recording and display the recorded history

In [15]:
stream.recorder.stop()
stream.recorder.get_history()

New bar received at 09:58:58.239127

                              JPY=                                          \
                               ASK                             BID
                              open    high     low   close    open    high
Timestamp
2023-03-07 09:58:50.826267  135.98  136.00  135.98  135.98  135.97  135.98
2023-03-07 09:58:55.857973  135.99  136.01  135.98  135.98  135.98  135.98
2023-03-07 09:58:58.208160  136.01  136.01  135.98  135.99  135.96  135.97

                                              GBP=          ...          \
                                               ASK          ...     BID
                               low   close    open    high  ...   close
Timestamp                                                   ...
2023-03-07 09:58:50.826267  135.96  135.97  1.2037  1.2039  ...  1.2034
2023-03-07 09:58:55.857973  135.96  135.97  1.2037  1.2039  ...  1.2036
2023-03-07 09:58:58.208160  135.96  135.96  1.2037  1.2038  ...  1.2036

                              EUR=                                          \
                               ASK                             BID
                              open    high     low   close    open    high
Timestamp
2023-03-07 09:58:50.826267  1.0684  1.0685  1.0683  1.0685  1.0683  1.0683
2023-03-07 09:58:55.857973  1.0685  1.0685  1.0683  1.0683  1.0681  1.0682
2023-03-07 09:58:58.208160  1.0685  1.0685  1.0684  1.0685  1.0681  1.0681

                                           ticks count

                               low   close
Timestamp
2023-03-07 09:58:50.826267  1.0681  1.0681          37
2023-03-07 09:58:55.857973  1.0681  1.0682          26
2023-03-07 09:58:58.208160  1.0680  1.0681          15

[3 rows x 25 columns]

                              JPY=                                          \
                               ASK                             BID
                              open    high     low   close    open    high
Timestamp
2023-03-07 09:58:58.208160  136.01  136.01  135.98  135.99  135.96  135.97

                                              GBP=          ...          \
                                               ASK          ...     BID
                               low   close    open    high  ...   close
Timestamp                                                   ...
2023-03-07 09:58:58.208160  135.96  135.96  1.2037  1.2038  ...  1.2036

                              EUR=                                          \
                               ASK                             BID
                              open    high     low   close    open    high
Timestamp
2023-03-07 09:58:58.208160  1.0685  1.0685  1.0684  1.0685  1.0681  1.0681

                                          ticks count

                              low   close
Timestamp
2023-03-07 09:58:58.208160  1.068  1.0681          15

[1 rows x 25 columns]

#### Close the stream

In [16]:
stream.close()

### Close the session

In [ ]:
rd.close_session()