----
<img src="../../files/refinitiv.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Screeners
This notebook demonstrates how to use the Screener object of the Access layer in conjunction with get_data, get_history and pricing streams.

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import refinitiv.data as rd
from refinitiv.data.discovery import Screener
from refinitiv.data.discovery import Peers
import datetime
from IPython.display import display, clear_output

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session()

## Retrieve data

### Create a screener for EU Large Growth companies

**Note:** refer to the Screener app of Refinitiv Workspace to build the screening expression you need.

In [3]:
ue_large_growth = Screener('U(IN(indices(19262093/*Thomson Reuters Europe*/))/*UNV:Public*/), TR.CompanyMarketCap>=3604900000, TR.ValMoRegionRank>=70, TR.EQCountryListRank(Period=FY0)>=20, TR.IVPriceToIntrinsicValue<=0.85, TR.PriceMoMidTermComponent>=30,CURN=EUR')

### Print the screened instruments

In [4]:
print(list(ue_large_growth))

['PZU.WA', 'SRENH.S', 'TLXGn.DE', 'CCH.L', 'CNHI.MI', 'FBK.MI', 'ELIS.PA', 'UBSG.S', 'AMUN.PA', 'ABNd.AS', 'ASRNL.AS', 'BAWG.VI', 'AAF.L', 'VRLA.PA', 'DTGGe.DE', 'AXAF.PA', 'CAGR.PA', 'FOUG.PA', 'EDF.PA', 'ROTH.PA', 'ORAN.PA', 'BOUY.PA', 'RXL.PA', 'TTEF.PA', 'VLOF.PA', 'EURA.PA', 'PUBP.PA', 'URW.AS', 'BNPP.PA', 'VIE.PA', 'SOPR.PA', 'SCOR.PA', 'SOGN.PA', 'SGOB.PA', 'BUCN.S', 'HELN.S', 'AIBG.I', 'BIRG.I', 'RYA.I', 'BATS.L', 'BARC.L', 'AV.L', 'BAES.L', 'BEZG.L', 'BT.L', 'CNA.L', 'HSBA.L', 'SMDS.L', 'FRAS.L', 'BNZL.L', 'INCH.L', 'SHEL.L', 'LLOY.L', 'IGG.L', 'STAN.L', 'KGF.L', 'EMG.L', 'SSE.L', 'TSCO.L', 'WPP.L', 'BP.L', 'LGEN.L', 'IMB.L', 'ALVG.DE', 'MBGn.DE', 'HEIG.DE', 'DTEGn.DE', 'HNRGn.DE', 'MUVGn.DE', 'RHMG.DE', 'VOWG_p.DE', 'BAMI.MI', 'A2.MI', 'BZU.MI', 'STLAM.MI', 'GASI.MI', 'US.MI', 'LDOF.MI', 'ENEI.MI', 'MDBI.MI', 'CRDI.MI', 'UNPI.MI', 'TENR.MI', 'HEIO.AS', 'VOPA.AS', 'AD.AS', 'NDASE.ST', 'SWEDa.ST', 'SKAb.ST', 'BBVA.MC', 'BKT.MC', 'GCO.MC', 'IBE.MC', 'MAP.MC', 'REP.MC', 'SAN.MC', 'ANDR.VI', 'ERST.VI', 'OTPB.BU', 'OBER.VI', 'OMVV.VI', 'TELA.VI', 'VERB.VI', 'BKOM.PR', 'BIMAS.IS', 'SPL1.WA', 'DNB.OL', 'ENKAI.IS', 'EREGL.IS', 'NBGr.AT', 'EURBr.AT', 'FROTO.IS', 'ISCTR.IS', 'KBC.BR', 'OPAr.AT', 'PKN.WA', 'SISE.IS', 'SLHN.S', 'SOLB.BR', 'THYAO.IS', 'TOASO.IS', 'TUPRS.IS', 'YAR.OL', 'EONGn.DE', 'ENGIE.PA', 'JYSK.CO', 'SEBa.ST', 'VOLVb.ST', 'BAER.S', 'TEF.MC', 'PHNX.L']

### Use the screener with get_data()

In [5]:
rd.get_data(ue_large_growth, ['BID', 'ASK', 'TR.Revenue'], parameters={'curn':'eur'})

    Instrument             Revenue     BID     ASK
0       PZU.WA                <NA>    37.0    37.5
1      SRENH.S                <NA>    <NA>    <NA>
2     TLXGn.DE                <NA>    <NA>    <NA>
3        CCH.L        9198400000.0  1880.0  2200.0
4      CNHI.MI       21933171200.0   15.66  15.895
..         ...                 ...     ...     ...
126    SEBa.ST                <NA>    <NA>    <NA>
127   VOLVb.ST  42508385787.582397    <NA>    <NA>
128     BAER.S                <NA>    <NA>    <NA>
129     TEF.MC       39993000000.0    <NA>    <NA>
130     PHNX.L                <NA>   582.0   640.0

[131 rows x 4 columns]

### Get Microsoft peers

In [6]:
microsoft_peers = Peers('MSFT.O')

In [7]:
print(list(microsoft_peers))

['CRM.N', 'ORCL.N', 'ADBE.OQ', 'META.OQ', 'AMZN.OQ', 'OKTA.OQ', 'IBM.N', 'SAPG.DE', 'AAPL.OQ', 'VMW.N', 'CSCO.OQ', '0700.HK', 'HPE.N', '6758.T', '7974.T', 'ZTNO.PK', 'NOW.N', 'SNOW.N', 'WDAY.OQ', 'SPLK.OQ', 'INTU.OQ', 'HUBS.N', 'DDOG.OQ', 'MDB.OQ', 'TEAM.OQ', 'DOCU.OQ', 'PATH.N', 'ZM.OQ', 'NET.N', 'ADSK.OQ', 'CFLT.OQ', 'GOOGL.OQ', 'PANW.OQ', 'PLTR.N', 'ZS.OQ', 'ZI.OQ', 'HCP.O', 'SHOP.N', 'TWLO.N', 'CHKP.OQ', 'ESTC.N', 'DBX.OQ', 'VEEV.N', 'CRWD.OQ', 'DT.N', 'AYX.N', 'SMAR.N', 'IOT', 'GTLB.OQ', 'AKAM.OQ']

### Use the microsoft peers with get_history()

In [8]:
rd.get_history(microsoft_peers, ['BID', 'ASK'])

             CRM.N         ORCL.N        ADBE.OQ         META.OQ          \
               BID     ASK    BID    ASK     BID     ASK     BID     ASK
Date
2023-02-06  169.03  169.06  88.53  88.55  375.21  375.38  186.07  186.08
2023-02-07  171.29   171.3  87.74  87.75   383.8   384.0  191.62  191.63
2023-02-08   169.7  169.71  86.69  86.71  378.38  378.43  183.44  183.51
2023-02-09  173.78  173.79  86.66  86.67  375.71  375.89  177.88  177.92
2023-02-10  167.01  167.02  87.14  87.15  370.95  371.02  174.12  174.15
2023-02-13  171.11  171.13  89.42  89.43   375.0  375.01  179.38  179.44
2023-02-14  169.89  169.96  89.12  89.13  377.81  378.01  179.45  179.49
2023-02-15   171.1  171.12  88.33  88.34  375.94  376.04  177.16  177.19
2023-02-16  168.16  168.17  87.69   87.7  365.04   365.2  172.37  172.44
2023-02-17  165.22  165.23  87.29   87.3  356.85  356.86  172.88  172.89
2023-02-20    <NA>    <NA>   <NA>   <NA>    <NA>    <NA>    <NA>    <NA>
2023-02-21  161.66  161.67   86.2  86.21  346.71   346.9  172.08  172.11
2023-02-22  163.44  163.46  86.32  86.33  348.74  348.92  171.13   171.2
2023-02-23  164.08  164.12  88.57  88.58   346.9  347.02   172.0  172.06
2023-02-24  162.21   162.3  88.66  88.67  320.47  320.59  170.39  170.42
2023-02-27  163.15  163.16  87.95  87.96  322.39   322.4  169.56  169.58
2023-02-28  163.53  163.54  87.39   87.4  323.83  323.92  174.91  174.92
2023-03-01  167.28  167.29  86.35  86.36  323.39  323.63  173.41  173.45
2023-03-02  186.53  186.54  86.98  86.99  333.52  333.66  174.53  174.54
2023-03-03  186.36  186.39  89.22  89.23  344.07  344.17  185.25  185.28
2023-03-06  183.79   183.8  89.73  89.74   346.9  347.16  184.91  184.94

           AMZN.OQ          ...  AYX.N        SMAR.N           IOT         \
               BID     ASK  ...    BID    ASK    BID    ASK    BID    ASK
Date                        ...
2023-02-06  102.14  102.19  ...   56.1  56.12  44.43  44.44  14.88  14.89
2023-02-07  102.09  102.11  ...  59.89  59.92  46.15  46.16   15.3  15.32
2023-02-08  100.06  100.08  ...  60.43  60.44  45.13  45.14   14.9  14.93
2023-02-09   98.26   98.29  ...  60.09   60.1   43.9  43.94  15.03  15.05
2023-02-10   97.58   97.62  ...  62.91  62.96  41.81  41.82  15.16  15.17
2023-02-13   99.52   99.56  ...  68.24  68.25  43.11  43.12  15.84  15.85
2023-02-14   99.64   99.65  ...   69.0  69.01  45.51  45.52  15.77  15.79
2023-02-15  101.16  101.17  ...  69.49  69.53  46.44  46.45   16.2  16.21
2023-02-16   98.14   98.17  ...   67.5  67.51  44.09   44.1  15.84  15.85
2023-02-17   97.19    97.2  ...  67.01  67.02  43.33  43.35  15.84  15.85
2023-02-20    <NA>    <NA>  ...   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>
2023-02-21   94.59   94.65  ...  65.76  65.78  42.52  42.53  16.22  16.23
2023-02-22   95.82   95.85  ...  66.99   67.0  43.31  43.32  16.49   16.5
2023-02-23   95.79    95.8  ...  67.07  67.08  43.72  43.75  16.11  16.12
2023-02-24   93.49   93.52  ...  66.18  66.22  43.06   43.1  16.04  16.05
2023-02-27   93.77   93.78  ...  65.71  65.72  43.41  43.44  16.25  16.26
2023-02-28   94.21   94.22  ...  65.29  65.31  43.99  44.02  16.66  16.67
2023-03-01   92.19    92.2  ...  65.29  65.36  43.36  43.37  16.29  16.32
2023-03-02    92.1   92.14  ...  65.26  65.31   44.2  44.21  16.87  16.88
2023-03-03   94.89    94.9  ...  67.89   67.9  45.28  45.29  19.48  19.49
2023-03-06   93.74   93.75  ...  67.19  67.24  44.47  44.48  19.84  19.85

           GTLB.OQ        AKAM.OQ
               BID    ASK     BID    ASK
Date
2023-02-06   50.22  50.23   87.44   87.5
2023-02-07   52.12  52.18   88.12  88.16
2023-02-08   49.23  49.27   86.24  86.28
2023-02-09    42.3  42.31    85.7  85.72
2023-02-10   41.54  41.59   85.49  85.51
2023-02-13   43.24  43.28    88.0  88.01
2023-02-14   47.26  47.29   87.79  87.82
2023-02-15   49.23  49.24   78.65  78.66
2023-02-16   47.25  47.26   77.04  77.06
2023-02-17   45.41  45.45    77.3  77.32
2023-02-20    <NA>   <NA>    <NA>   <NA>
2023-02-21   44.18  44.21   76.41  76.43
2023-02-22   44.29  44.32   76.84  76.85
2023-02-23   44.75  44.79   75.11  75.15
2023-02-24   43.33  43.36   72.67  72.71
2023-02-27   43.63  43.68   73.26   73.3
2023-02-28   43.98  44.04   72.57  72.59
2023-03-01   42.78  42.82   73.03  73.05
2023-03-02   49.92  49.96   73.51  73.53
2023-03-03   52.26  52.28   75.65  75.66
2023-03-06   51.17   51.2   74.94  74.96

[21 rows x 100 columns]

### Use the chain with pricing streams

#### Define a callback to receive data events

In [9]:
def display_data(data, instrument, stream):
    clear_output(wait=True)
    current_time = datetime.datetime.now().time()
    print(current_time, "- Data received for", instrument)
    display(data)

#### Open the stream and register the callback

In [10]:
rd.open_pricing_stream(microsoft_peers, ['BID', 'ASK'], on_data=display_data)

10:00:09.378907 - Data received for GTLB.OQ

          BID   ASK
GTLB.OQ  50.5  51.7

In [11]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK'],
    on_data=display_data
)

10:00:10.759366 - Data received for JPY=

         BID     ASK
JPY=  135.97  135.98

#### Close the stream

In [12]:
stream.close()

10:00:11.711190 - Data received for 0700.HK

         BID
0700.HK  359

### Close the session

In [13]:
rd.close_session()