----
<img src="../../files/refinitiv.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Content layer - Search
This notebook demonstrates how to use the Search service of the Refinitiv Data Platform.

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/tutorials), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import refinitiv.data as rd
from refinitiv.data.content import search

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session()

## Retrieve data

### General Search

In [3]:
response = search.Definition("IBM Bonds").get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",44657843041,0x0004051bd47954e3,US114316318=
1,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",44649129642,0x00040513a4865c6c,459200HP9=
2,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",44653695161,0x00040517bba31719,459200HU8=
3,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",192841929400,0x00102c2052251a71,459200JY8=
4,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",46638470074,0x00102cf964da067d,US137584123=
5,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",192826895881,0x00102c8de61f1850,US194445610=
6,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",46644611190,0x00102c00c0900d61,US161784508=
7,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",232796002153,0x00102cfffd953398,459200KS9=
8,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",15628361579,0x0000fa00068e7c0e,459200AM3=
9,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",44652137828,0x00040514f83234eb,US099109963=

### Specify number of rows to fetch

In [4]:
response = search.Definition("IBM Bonds", top=100).get_data()
response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",44657843041,0x0004051bd47954e3,US114316318=
1,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",44649129642,0x00040513a4865c6c,459200HP9=
2,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",44653695161,0x00040517bba31719,459200HU8=
3,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",192841929400,0x00102c2052251a71,459200JY8=
4,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",46638470074,0x00102cf964da067d,US137584123=
...,...,...,...,...,...
95,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",<NA>,0x000034000037dad9,<NA>
96,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",<NA>,0x000034000037dbd8,<NA>
97,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",<NA>,0x000034000037dcdf,<NA>
98,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",<NA>,0x000034000037ddde,<NA>
99,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",<NA>,0x000034000037dedd,<NA>

### Filter Expressions

In [5]:
response = search.Definition(
    view=search.Views.GOV_CORP_INSTRUMENTS,
    select="ISIN,RIC,IssueDate,Currency,FaceIssuedTotal,CouponRate,MaturityDate", 
    filter="IssuerTicker eq 'IBM' and IsActive eq true and AssetStatus ne 'MAT'"
).get_data()
response.data.df

,ISIN,RIC,IssueDate,Currency,FaceIssuedTotal,CouponRate,MaturityDate
0,XS1143163183,US114316318=,2014-11-26,EUR,1000000000,1.25,2023-05-26
1,US459200HP91,459200HP9=,2013-08-01,USD,1500000000,3.375,2023-08-01
2,US459200HU86,459200HU8=,2014-02-12,USD,2000000000,3.625,2024-02-12
3,US459200JY80,459200JY8=,2019-05-15,USD,3000000000,3.0,2024-05-15
4,XS1375841233,US137584123=,2016-03-07,EUR,750000000,1.125,2024-09-06
5,XS1944456109,US194445610=,2019-01-31,EUR,1000000000,0.875,2025-01-31
6,XS1617845083,US161784508=,2017-05-23,EUR,1000000000,0.95,2025-05-23
7,US459200KS93,459200KS9=,2022-07-27,USD,1000000000,4.0,2025-07-27
8,US459200AM34,459200AM3=,1995-10-30,USD,600000000,7.0,2025-10-30
9,XS0991099630,US099109963=,2013-11-07,EUR,1000000000,2.875,2025-11-07

### Properties - Metadata

In [6]:
response = search.metadata.Definition(
    view = search.Views.GOV_CORP_INSTRUMENTS
).get_data() 

response.data.df

,,Type,Searchable,Sortable,Navigable,Groupable,Exact,Symbol
AccrualDate,AccrualDate,Date,True,True,True,False,False,False
AccruedInterest,AccruedInterest,Double,True,True,True,False,False,False
ActiveEstimatesExist,ActiveEstimatesExist,Boolean,True,False,False,False,False,False
AdtLocalCurrencyValue,AdtLocalCurrencyValue,String,True,False,False,False,False,False
AdtLocalCurrencyValueName,AdtLocalCurrencyValueName,String,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...
WorstStandardYield,WorstStandardYield,Double,True,True,True,False,False,False
WorstYearsToRedem,WorstYearsToRedem,Double,True,True,True,False,False,False
YieldCurveBenchmarkRIC,YieldCurveBenchmarkRIC,String,False,False,False,False,False,False
YieldTypeDescription,YieldTypeDescription,String,True,False,False,False,False,False
ZCodeValue,ZCodeValue,String,True,True,False,True,False,True

### Navigators

In [7]:
response = search.Definition(
    top=0,
    navigators="RCSTRBC2012Leaf"
).get_data()

response.data.raw

{'Total': 165812430,
 'Hits': [],
 'Navigators': {'RCSTRBC2012Leaf': {'Buckets': [{'Label': 'Banks (NEC)',
     'Count': 4890275},
    {'Label': 'Corporate Financial Services (NEC)', 'Count': 2235278},
    {'Label': 'Retail & Mortgage Banks', 'Count': 2079590},
    {'Label': 'Corporate Banks', 'Count': 1521725},
    {'Label': 'Investment Banking & Brokerage Services (NEC)',
     'Count': 770786},
    {'Label': 'Government & Government Finance (NEC)', 'Count': 674900},
    {'Label': 'Public Finance Activities', 'Count': 530178},
    {'Label': 'Investment Holding Companies (NEC)', 'Count': 500757},
    {'Label': 'Construction & Engineering (NEC)', 'Count': 422434},
    {'Label': 'Consumer Lending (NEC)', 'Count': 381088},
    {'Label': 'Electric Utilities (NEC)', 'Count': 363124},
    {'Label': 'Investment Banking', 'Count': 361218},
    {'Label': 'Business Support Services (NEC)', 'Count': 349454},
    {'Label': 'Wealth Management', 'Count': 335069},
    {'Label': 'Real Estate Rental, Development & Operations (NEC)',
     'Count': 306276},
    {'Label': 'Professional Information Services (NEC)', 'Count': 280095},
    {'Label': 'Diversified Investment Services', 'Count': 271852},
    {'Label': 'Building Contractors', 'Count': 243059},
    {'Label': 'Investment Management & Fund Operators (NEC)', 'Count': 241569},
    {'Label': 'Software (NEC)', 'Count': 201199},
    {'Label': 'Management Consulting Services', 'Count': 183630},
    {'Label': 'IT Services & Consulting (NEC)', 'Count': 178793},
    {'Label': 'Shell Companies', 'Count': 154304},
    {'Label': 'Investment Management', 'Count': 138040},
    {'Label': 'Supermarkets & Convenience Stores', 'Count': 131751},
    {'Label': 'Real Estate Services (NEC)', 'Count': 131206},
    {'Label': 'Pharmaceuticals (NEC)', 'Count': 130242},
    {'Label': 'Financial & Commodity Market Operators & Service Providers (NEC)',
     'Count': 120371},
    {'Label': 'Integrated Telecommunications Services (NEC)', 'Count': 117773},
    {'Label': 'Hospitals, Clinics & Primary Care Services', 'Count': 116746},
    {'Label': 'Auto Vehicles, Parts & Service Retailers (NEC)',
     'Count': 113533},
    {'Label': 'Industrial Machinery & Equipment (NEC)', 'Count': 108730},
    {'Label': 'Miscellaneous Educational Service Providers', 'Count': 106442},
    {'Label': 'Government Administration Activities', 'Count': 106030},
    {'Label': 'Brokerage Services', 'Count': 104941},
    {'Label': 'Food Processing (NEC)', 'Count': 99011},
    {'Label': 'Commodity Chemicals (NEC)', 'Count': 98247},
    {'Label': 'Commercial Loans', 'Count': 98160},
    {'Label': 'Oil & Gas Exploration and Production (NEC)', 'Count': 97641},
    {'Label': 'Auto, Truck & Motorcycle Parts (NEC)', 'Count': 84244},
    {'Label': 'Construction Materials (NEC)', 'Count': 84226},
    {'Label': 'UK Investment Trusts', 'Count': 83448},
    {'Label': 'Insurance Brokers', 'Count': 82558},
    {'Label': 'Restaurants & Bars (NEC)', 'Count': 81750},
    {'Label': 'Electrical Components & Equipment (NEC)', 'Count': 72212},
    {'Label': 'Multiline Utilities', 'Count': 71659},
    {'Label': 'Industrial Machinery', 'Count': 70786},
    {'Label': 'Biotechnology & Medical Research (NEC)', 'Count': 69624},
    {'Label': 'Homebuilding (NEC)', 'Count': 66971},
    {'Label': 'Office Real Estate Rental & Development', 'Count': 65683},
    {'Label': 'Hotels & Motels', 'Count': 64742},
    {'Label': 'Healthcare Facilities & Services (NEC)', 'Count': 64027},
    {'Label': 'Freight Trucking', 'Count': 63657},
    {'Label': 'Residential Builders - Single Homes', 'Count': 62150},
    {'Label': 'Closed End Funds', 'Count': 60749},
    {'Label': 'Life & Health Insurance (NEC)', 'Count': 59421},
    {'Label': 'Metallic Rolling & Drawing Products', 'Count': 59142},
    {'Label': 'Metal Service Centers', 'Count': 57269},
    {'Label': 'Plastics', 'Count': 57046},
    {'Label': 'Personal Services (NEC)', 'Count': 56833},
    {'Label': 'Highway & Bridge Construction', 'Count': 56413},
    {'Label': 'Iron & Steel (NEC)', 'Count': 56293},
    {'Label': 'Passenger Transportation, Ground & Sea (NEC)', 'Count': 53899},
    {'Label': 'Hedge Funds', 'Count': 53646},
    {'Label': 'Plumbing Fixtures & Fittings', 'Count': 53439},
    {'Label': 'Gasoline Stations', 'Count': 52875},
    {'Label': 'Consumer Goods Conglomerates', 'Count': 52826},
    {'Label': 'Drug Retailers (NEC)', 'Count': 52353},
    {'Label': 'Oil & Gas Refining and Marketing (NEC)', 'Count': 51550},
    {'Label': 'Diversified Mining', 'Count': 50447},
    {'Label': 'Civil Engineers & Architects', 'Count': 49560},
    {'Label': 'Online Services (NEC)', 'Count': 49394},
    {'Label': 'Integrated Oil & Gas', 'Count': 48955},
    {'Label': 'Residential Real Estate Rental & Development', 'Count': 48793},
    {'Label': 'Auto & Truck Manufacturers (NEC)', 'Count': 47265},
    {'Label': 'Advertising & Marketing (NEC)', 'Count': 46215},
    {'Label': 'Medical Equipment, Supplies & Distribution (NEC)',
     'Count': 45700},
    {'Label': 'Waste Management, Disposal & Recycling Services',
     'Count': 45499},
    {'Label': 'Maintenance & Repair Services', 'Count': 45305},
    {'Label': 'Semiconductors (NEC)', 'Count': 44556},
    {'Label': 'Oil & Gas Transportation Services (NEC)', 'Count': 43256},
    {'Label': 'Natural Gas Distribution', 'Count': 43247},
    {'Label': 'Cement & Concrete Manufacturing', 'Count': 41902},
    {'Label': 'Grain (Crop) Production', 'Count': 41526},
    {'Label': 'Wireless Telecommunications Services (NEC)', 'Count': 41475},
    {'Label': 'Child Care & Family Services', 'Count': 41313},
    {'Label': 'Personal Products (NEC)', 'Count': 41246},
    {'Label': 'Commercial Leasing', 'Count': 40947},
    {'Label': 'Freight Logistics', 'Count': 40032},
    {'Label': 'Petroleum Refining', 'Count': 39893},
    {'Label': 'Multiline Insurance & Brokers (NEC)', 'Count': 39446},
    {'Label': 'Property & Casualty Insurance (NEC)', 'Count': 39404},
    {'Label': 'Commercial Buildings', 'Count': 39402},
    {'Label': 'Coal (NEC)', 'Count': 38933},
    {'Label': 'Legal Services', 'Count': 38895},
    {'Label': 'Leisure & Recreation (NEC)', 'Count': 38335},
    {'Label': 'Employment Services (NEC)', 'Count': 38247},
    {'Label': 'Consumer Leasing', 'Count': 38041},
    {'Label': 'Vegetable, Fruit & Nut Farming', 'Count': 37484},
    {'Label': 'Specialty Mining & Metals (NEC)', 'Count': 37203}]}}}

### Search with Navigator option

In [8]:
response = search.Definition(
    view=search.Views.COMMODITY_QUOTES,
    query="cheese",
    navigators="ExchangeName"
).get_data()

response.data.df

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,QUOTExCOMMODITY,"Cash Settled Cheese Futures Chain Contracts, C...",21622425217,272623267,0#CSC:
1,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21622940491,273610776,CSCc1
2,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21806230482,504849384,CSCH3
3,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21809830790,509239339,CSCJ3
4,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21814998548,515352820,CSCK3
5,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21825649439,528375011,CSCN3
6,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21819204534,520638487,CSCM3
7,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21833209459,537071883,CSCQ3
8,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21840921829,545900120,CSCU3
9,QUOTExCOMMODITY,CME Cash Settled Cheese Electronic Commodity F...,21850778788,557235879,CSCV3

In [9]:
response.data.raw["Navigators"]['ExchangeName']

{'Buckets': [{'Label': 'CME:Index and Options Market', 'Count': 16474},
  {'Label': 'Chicago Mercantile Exchange', 'Count': 3062},
  {'Label': 'INTL FCStone Inc', 'Count': 2550},
  {'Label': 'Source is a Refinitiv Contributor', 'Count': 1498},
  {'Label': 'US Department of Agriculture', 'Count': 102},
  {'Label': 'Commodity Futures Trading Commission', 'Count': 66},
  {'Label': 'Complete Intelligence', 'Count': 59},
  {'Label': 'Intercontinental Exchange US', 'Count': 31},
  {'Label': 'US Bureau Of Labor Statistics', 'Count': 10},
  {'Label': 'European Energy Exchange', 'Count': 9},
  {'Label': 'DCA Markets B.V. - DCA-Markets-PRA Price Reporting Agent',
   'Count': 4},
  {'Label': 'European Commission', 'Count': 3},
  {'Label': 'ESALQ', 'Count': 2},
  {'Label': 'CME:International Monetary Market', 'Count': 1}]}

In [10]:
response = search.Definition(
    view=search.Views.GOV_CORP_INSTRUMENTS,
    top=0,
    navigators="Currency(buckets:10,desc:sum_FaceOutstandingUSD,calc:max_CouponRate)"
).get_data()

response.data.raw

{'Total': 11964272,
 'Hits': [],
 'Navigators': {'Currency': {'Buckets': [{'Label': 'USD',
     'Count': 3933288,
     'max_CouponRate': 71025.0,
     'sum_FaceOutstandingUSD': 51256089142933.0},
    {'Label': 'EUR',
     'Count': 1138949,
     'max_CouponRate': 3875.0,
     'sum_FaceOutstandingUSD': 25971054423593.0},
    {'Label': 'CNY',
     'Count': 367877,
     'max_CouponRate': 72.0,
     'sum_FaceOutstandingUSD': 20507694044974.0},
    {'Label': 'JPY',
     'Count': 482548,
     'max_CouponRate': 4125.0,
     'sum_FaceOutstandingUSD': 11079172374524.0},
    {'Label': 'GBP',
     'Count': 212259,
     'max_CouponRate': 407.0,
     'sum_FaceOutstandingUSD': 6823708259955.0},
    {'Label': 'INR',
     'Count': 118533,
     'max_CouponRate': 42.75,
     'sum_FaceOutstandingUSD': 2600500388612.0},
    {'Label': 'CAD',
     'Count': 332137,
     'max_CouponRate': 100.0,
     'sum_FaceOutstandingUSD': 2478168004281.0},
    {'Label': 'KRW',
     'Count': 412984,
     'max_CouponRate': 46.41,
     'sum_FaceOutstandingUSD': 2270027722341.038},
    {'Label': 'CLF',
     'Count': 17736,
     'max_CouponRate': 9.0,
     'sum_FaceOutstandingUSD': 1829402632748.0044},
    {'Label': 'AUD',
     'Count': 159861,
     'max_CouponRate': 120.96,
     'sum_FaceOutstandingUSD': 1632435780265.0}]}}}

#### Sub-navigator

In [11]:
response = search.Definition(
    view=search.Views.PEOPLE,
    top=0,
    navigators="FirstName(buckets:3,sub:LastName(buckets:2))"
).get_data()

response.data.raw["Navigators"]["FirstName"]["Buckets"]

[{'Label': 'John',
  'Count': 42845,
  'LastName': {'Buckets': [{'Label': 'Smith', 'Count': 112},
    {'Label': 'Murphy', 'Count': 111}]}},
 {'Label': 'David',
  'Count': 42014,
  'LastName': {'Buckets': [{'Label': 'Smith', 'Count': 243},
    {'Label': 'Williams', 'Count': 173}]}},
 {'Label': 'Michael',
  'Count': 40488,
  'LastName': {'Buckets': [{'Label': 'Smith', 'Count': 193},
    {'Label': 'Brown', 'Count': 134}]}}]

### Search with order_by option

In [12]:
response = search.Definition(
    view=search.Views.PEOPLE,
    query="ceo",
    order_by="YearOfBirth desc,LastName,FirstName",
    select="YearOfBirth,DocumentTitle"
).get_data()

response.data.df

   YearOfBirth                                      DocumentTitle
0         1996  Hiroyasu Saito - Gracia Inc - Chief Executive ...
1         1996  Shu Yao - Dongjiang Environmental Co Ltd - Ex-...
2         1994  Connor Campbell - Osler Diagnostics Ltd - Chie...
3         1994  Melissa Rutencrantz - Segulah Advisor AB - CEO...
4         1993  Tim Groot - IntrosAt Ltd - Chief Executive Off...
5         1993  Yiduitakuya Iwamoto - Polyuse Inc - Chief Exec...
6         1993  Alberto Rizzoli - V7 Ltd - Chief Executive Off...
7         1993  Tongda Wu - Paifang Technology Tianjin Co Ltd ...
8         1992  Ross Bailey - Appear Here Ltd - Chief Executiv...
9         1992  Ed Leon Klinger - Flock Ltd - Chief Executive ...

### Search with group_by option

In [13]:
response = search.Definition(
    view=search.Views.INDICATOR_QUOTES,
    query="rate",
    group_by="CentralBankName",
    group_count=2,
    select="CentralBankName,DocumentTitle,RIC"
).get_data()

response.data.df

,CentralBankName,DocumentTitle,RIC
0,Federal Reserve System,"United States, Policy Rates, Fed Funds Target ...",USFOMC=ECI
1,Federal Reserve System,"United States, Policy Rates, Fed Overnight Rep...",USRRP=ECI
2,Reserve Bank of New Zealand,"New Zealand, Policy Rates, Official Cash Rate ...",NZINTR=ECI
3,Reserve Bank of New Zealand,"New Zealand, OFFICIAL CASH RATE (OCR) - AMP, R...",pNZINTR=4295856596
4,Central Bank of the Republic of Turkey,"Turkey, Policy Rates, Central Bank 1 Week Repo...",TRINT=ECI
5,Central Bank of the Republic of Turkey,"Turkey, Policy Rates, CBRT OVERNIGHT BORROWING...",TRONBR=ECI
6,European Central Bank,"Euro Zone, Policy Rates, ECB Main refinancing,...",EUECBR=ECI
7,European Central Bank,"Euro Zone, Policy Rates, ECB Deposit Rate, Reu...",EUECBD=ECI
8,Bank of Korea,"South Korea, Policy Rates, Base Rate, Reuters ...",KROCRT=ECI
9,Bank of Korea,"South Korea, BASE RATE - IM INVEST, Reuters Po...",pKROCRT=5000004569

### Search For People

In [14]:
response = search.Definition(
    query="cfo",
    view=search.Views.PEOPLE
).get_data()

response.data.df

,BusinessEntity,DocumentTitle,PermID,PI
0,PERSON,Amy E. Hood - Microsoft Corp - Chief Financial...,34415553383,34415553383
1,PERSON,Luca Maestri - Apple Inc - Chief Financial Off...,34414554748,34414554748
2,PERSON,Brian T. Olsavsky - Amazon.com Inc - Chief Fin...,34417610894,34417610894
3,PERSON,Ruth M. Porat - Alphabet Inc - Chief Financial...,34413960665,34413960665
4,PERSON,Susan J. Li - Meta Platforms Inc - Chief Finan...,34424688603,34424688603
5,PERSON,Marc D. Hamburg - Berkshire Hathaway Inc - Chi...,34413152672,34413152672
6,PERSON,Andrew K. Klatt - Berkshire Hathaway Inc - CFO...,34414966250,34414966250
7,PERSON,Xu Hong - Alibaba Group Holding Ltd - Chief Fi...,34425652371,34425652371
8,PERSON,John Lo - Tencent Holdings Ltd - Chief Financi...,34414907131,34414907131
9,PERSON,Vasant M. Prabhu - Visa Inc - Vice Chairman of...,34413340523,34413340523

## Close the session

In [15]:
rd.close_session()