# REFINITIV ESTIMATES SURPRISE

### Instructions

Please input a valid RIC after running the first and second cell below. Then you can run the rest of the notebook using shift+enter for each cell sequentially. 

This notebook will provide all of the information contained in the popular Eikon/Workspace template of the same name. This includes some general information about the RIC you selected and the Estimate surprises for 21 measures that you can select via the dropdown widget.

In [2]:
import refinitiv.data as rd
import numpy as np
import pandas as pd
import ipywidgets as widgets
from ipywidgets import Box, Layout
import matplotlib as plt
import warnings
%matplotlib inline

plt.style.use("seaborn")
warnings.filterwarnings("ignore")
rd.open_session()

In [3]:
ric = widgets.Text(
    value='',
    placeholder='Type something',
    description='RIC:',
    disabled=False
)

box_layout = Layout(display='flex',
                    flex_flow='row wrap',
                    align_items='stretch',
                    border='solid',
                    width='100%')

items = [ric]
box = Box(children=items, layout=box_layout)

box

Box(children=(Text(value='', description='RIC:', placeholder='Type something'),), layout=Layout(align_items='s…

### About

In [4]:
df = rd.get_data(ric.value, ["TR.HeadquartersCountry", "TR.ExchangeName",
                 "TR.TRBCIndustryGroup", "TR.GICSSector", "TR.TickerSymbol"])
df.transpose()

                                                    0
Instrument                                      VOD.L
Country of Headquarters                United Kingdom
Exchange Name                   LONDON STOCK EXCHANGE
TRBC Industry Group Name  Telecommunications Services
GICS Sector Name               Communication Services
Ticker Symbol                                     VOD

### General Information

In [5]:
df1 = rd.get_data(ric.value, ['TR.PriceClose', 'TR.Price52WeekHigh',
                  'TR.Price52WeekLow', 'TR.ISPeriodEndDate(Period=FY0)'])
df1.transpose()

                                           0
Instrument                             VOD.L
Price Close                           101.22
Price 52 Week High                     132.3
Price 52 Week Low                     83.237
Income Statement Period End Date  2022-03-31

In [6]:
df2 = rd.get_data(ric.value, ['TR.DividendYield', 'TR.CompanyMarketCap(Scale=6)',
                  'TR.PriceTargetMedian', 'TR.ISPeriodEndDate(Period=FI0)'])
df2.transpose()

                                            0
Instrument                              VOD.L
Dividend yield                       7.650978
Company Market Cap                27370.82875
Price Target - Median               114.72243
Income Statement Period End Date   2022-09-30

In [7]:
mSel = widgets.Dropdown(
    options=[('Book Value per Share', 'BVPS'), ('Capital Expenditure', 'Capex'), ('Cash Earnings per Share', 'EPSCash'),
             ('Cash Flow per Share', 'CFPS'), ('Dividend per Share',
                                               'DPS'), ('EBIT', 'EBIT'), ('EBITDA', 'EBITDA'),
             ('EBITDA per Share', 'EBITDAPS'), ('Enterprise Value',
                                                'EV'), ('EPS', 'EPS'), ('EPS -Fully Reported', 'EPSFR'),
             ('Funds Flow from Operations', 'FFO'), ('Gross Margin',
                                                     'GPM'), ('Net Asset Value', 'NetAssetValue'),
             ('Net Debt', 'NetDebt'), ('Net Income',
                                       'NetDebt'), ('Operating Profit', 'OProfit'),
             ('Pre-tax Profit', 'PreTaxProfit'), ('Revenue', 'Revenue'), ('ROA', 'ROA'), ('ROE', 'ROE')],
    value='BVPS',
    description='Metric:',
    disabled=False
)

pSel = widgets.Dropdown(
    options=['Annual', 'Interim'],
    value='Annual',
    description='Period:',
    disabled=False
)

cSel = widgets.Dropdown(
    options=['USD', 'EUR', 'GBP', 'CAD', 'RUB', 'CNY', 'INR', 'JPY'],
    value='GBP',
    description='Curn:',
    disabled=False
)

box_layout = Layout(display='flex',
                    flex_flow='row wrap',
                    align_items='stretch',
                    border='solid',
                    width='100%')

items2 = [mSel, pSel, cSel]
box2 = Box(children=items2, layout=box_layout)
box2

Box(children=(Dropdown(description='Metric:', options=(('Book Value per Share', 'BVPS'), ('Capital Expenditure…

In [8]:
if pSel.value == 'Annual':
    df3 = rd.get_data(ric.value, ['TR.'+mSel.value+'ActValue', 'TR.'+mSel.value+'ActReportDate',
                                  'TR.'+mSel.value+'MeanEstimate', 'TR.'+mSel.value+'ActValue',
                                  'TR.'+mSel.value+'ActSurprise', 'TR.'+mSel.value+'ActSueScore',
                                  'TR.'+mSel.value+'NumofEstimates'], {'Period': 'FY0', 'Sdate': 'FY0', 'Edate': 'FY-4',
                                                                       'FRQ': 'FY', 'Curn': cSel.value})
else:
    df3 = rd.get_data(ric.value, ['TR.'+mSel.value+'ActValue', 'TR.'+mSel.value+'ActReportDate',
                                  'TR.'+mSel.value+'MeanEstimate', 'TR.'+mSel.value+'ActValue',
                                  'TR.'+mSel.value+'ActSurprise', 'TR.'+mSel.value+'ActSueScore',
                                  'TR.'+mSel.value+'NumofEstimates'], {'Period': 'FI0', 'Sdate': 'FI0', 'Edate': 'FI-19',
                                                                       'FRQ': 'FI', 'Curn': cSel.value})
df3

,Instrument,Book Value Per Share - Actual,Report Date,Book Value Per Share - Actual,Book Value Per Share - Actual Surprise,Book Value Per Share - Standard Unexpected Earnings,Book Value Per Share - Number of Estimates
0,VOD.L,1.628454,2022-05-17T05:40:00Z,1.628454,-0.116,-0.02489,10
1,VOD.L,1.627955,2021-05-18T07:00:00Z,1.627955,-12.052,-1.65379,11
2,VOD.L,1.849106,2020-05-12T07:00:00Z,1.849106,-5.032,-0.50147,11
3,VOD.L,2.024913,2019-05-14T07:01:00Z,2.024913,-0.343,-0.03725,12
4,VOD.L,2.057268,2018-05-15T15:02:00Z,2.057268,-6.629,-1.61924,12

In [9]:
rd.close_session()

**Further Resources for Refinitiv Data Libraries API on Developer Community Portal**

* [Overview](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python) 
* [Quick Start ](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start)
* [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/documentation)
* [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/tutorials)
* [Q&A Forums](https://community.developers.refinitiv.com/spaces/321/index.html)