# Data API - Time Series examples
This notebook demonstrates how to retrieve Time Series from Eikon or Refinitiv Workspace.

#### Learn more
To learn more about the Data API just connect to the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [login](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) to the Refinitiv Developer Community portal you will get free access to a number of learning materials like [Quick Start guides](https://developers.refinitiv.com/eikon-apis/eikon-data-api/quick-start), [Tutorials](https://developers.refinitiv.com/eikon-apis/eikon-data-api/learning), [Documentation](https://developers.refinitiv.com/eikon-apis/eikon-data-api/docs) and much more.

#### About the "eikon" module of the Refinitiv Data Platform Library
The "eikon" module of the Refinitiv Data Platform Library for Python embeds all functions of the classical Eikon Data API ("eikon" python library). This module works the same as the Eikon Data API and can be used by applications that need the best of the Eikon Data API while taking advantage of the latest features offered by the Refinitiv Data Platform Library for Python. 

#### Getting Help and Support

If you have any questions regarding the API usage, please post them on the [Eikon Data API Q&A Forum](https://community.developers.thomsonreuters.com/spaces/92/index.html). The Refinitiv Developer Community will be very pleased to help you.

## Import the library and connect to Eikon or Refinitiv Workspace

In [1]:
import refinitiv.data.eikon as ek
import datetime

ek.set_app_key('DEFAULT_CODE_BOOK_APP_KEY')

## Get Time Series

#### Simple call with default parameters

In [2]:
ek.get_timeseries(['VOD.L', 'GOOG.O'])

              VOD.L                                               GOOG.O  \
               HIGH     LOW    OPEN   CLOSE  COUNT     VOLUME       HIGH
Date
2022-05-18   120.56  117.82  120.32  118.06  18527   80721783  115.69567
2022-05-19   118.78   116.2  117.92  118.46  17375   71569622   113.5875
2022-05-20   121.94  118.06  118.06   121.1  15491   96621168     112.55
2022-05-23   126.94  122.34  123.04   126.1  20959  113958512   112.0055
2022-05-24   129.24  125.94  126.56  128.84  23260  181051463    106.395
...             ...     ...     ...     ...    ...        ...        ...
2022-08-19  122.503  121.28   122.3  121.74   6067   63778392      120.0
2022-08-22   122.42  119.76   122.0  119.88   9032   60901588      116.5
2022-08-23   119.36  117.22  119.14  117.38  10136   54346629     115.93
2022-08-24   117.36  115.68   117.0  116.28   7319   40794963   115.7171
2022-08-25   117.16  116.08  116.72  116.76   6262   21335715     117.15


               CLOSE        LOW      OPEN   COUNT    VOLUME
Date
2022-05-18   112.401    112.142  115.2375   85044  27982760
2022-05-19  110.7455    110.468   111.841   83306  29191740
2022-05-20   109.313    106.373  112.0855  110254  37586020
2022-05-23  111.6665  109.15425   110.104   90099  31558220
2022-05-24   105.926    102.208  106.3775  169017  60386380
...              ...        ...       ...     ...       ...
2022-08-19    118.12     117.67    119.87  186000  20186983
2022-08-22    115.07     114.67     116.1  209771  19316024
2022-08-23    114.77      114.3    114.32  176663  14390691
2022-08-24     114.7     113.78    114.45  175571  16051174
2022-08-25    116.45     115.05    115.15   22350   5200887

[72 rows x 12 columns]

#### Get Time Series with more parameters

In [3]:
ek.get_timeseries(['VOD.L', 'GOOG.O'], 
                  start_date=datetime.timedelta(-1), 
                  end_date=datetime.timedelta(0), 
                  interval='minute')

                      VOD.L                                          GOOG.O  \
                       HIGH     LOW     OPEN   CLOSE COUNT  VOLUME     HIGH
Date
2022-08-24 15:16:00  116.54  116.46   116.48  116.54    28   62168    115.4
2022-08-24 15:17:00  116.58  116.52  116.541  116.56    29   68114   115.39
2022-08-24 15:18:00  116.56  116.54   116.56  116.54    10   24682   115.42
2022-08-24 15:19:00   116.5  116.44    116.5  116.44    25   93000   115.47
2022-08-24 15:20:00  116.46  116.42   116.44  116.42    17   34553   115.41
...                     ...     ...      ...     ...   ...     ...      ...
2022-08-25 15:11:00  116.88  116.86   116.88  116.86     4    3568   116.72
2022-08-25 15:12:00  116.86  116.82   116.86  116.84    19   64700   116.72
2022-08-25 15:13:00   116.8  116.76    116.8  116.76    14   22055   116.77
2022-08-25 15:14:00   116.8  116.74   116.76   116.8    23   91535  116.703
2022-08-25 15:15:00   116.8  116.78   116.78  116.78    21  106140   116.62


                          LOW      OPEN     CLOSE COUNT VOLUME
Date
2022-08-24 15:16:00  115.1704    115.28    115.31   557  34217
2022-08-24 15:17:00  115.1933    115.33    115.37   454  25789
2022-08-24 15:18:00  115.2506  115.3813     115.4   349  18411
2022-08-24 15:19:00  115.3117    115.41     115.4   382  37339
2022-08-24 15:20:00    115.28    115.41  115.2965   333  28229
...                       ...       ...       ...   ...    ...
2022-08-25 15:11:00    116.63    116.66    116.67   440  24899
2022-08-25 15:12:00    116.54  116.6734   116.715   474  36461
2022-08-25 15:13:00    116.66   116.705    116.67   272  16137
2022-08-25 15:14:00     116.6  116.6789    116.61   293  15285
2022-08-25 15:15:00    116.45    116.62    116.45   301  22905

[1000 rows x 12 columns]