----
<img src="../../files/lseg.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Get data
This notebook demonstrates how to retrieve Pricing snapshots and Fundamental & Reference data using the get_data() function.

#### About the get_data function
The get_data() function allows you to retrieve pricing snapshots as well as Fundamental & Reference data via a single function call.


***get_data()*** parameters: 
- ***universe***: Single instrument or list of instruments to request
    - Type: String or list
    - Optional: No  
- ***fields***: Single field or list of fields to request
    - Type: String or list
    - Optional: Yes  
- ***parameters***: Additional parameters specific applied to Fundamental & Reference fields (a.k.a. "TR." fields)
    - Type: Dictionary
    - Optional: Yes  
    
**get_data()** returns a pandas.DataFrame with fields in columns and instruments as row index.  
It raises exceptions on error and when no data is available

#### Learn more

To learn more about the LSEG Data Library for Python please join the LSEG Developer Community. By [registering](https://developers.lseg.com/iam/register) and [logging](https://developers.lseg.com/content/devportal/en_us/initCookie.html) into the LSEG Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/quick-start), 
 [Tutorials](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/tutorials), 
 [Documentation](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Data Library Q&A Forum](https://community.developers.refinitiv.com/smart-spaces/521/index.html). 
The LSEG Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import lseg.data as ld
import pandas as pd

## Open the data session

The open_session() function creates and open sessions based on the information contained in the lseg-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
ld.open_session()

## Retrieve data

### Pricing snapshots

In [3]:
ld.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['BID', 'ASK']
)

  Instrument    BID    ASK
0     LSEG.L  10155  10160
1      VOD.L  77.26   77.3

### Fundamental data

In [4]:
ld.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.Revenue']
)

  Instrument      Revenue
0     LSEG.L   8379000000
1      VOD.L  36717000000

### Mix of pricing snapshots and fundamental data

In [5]:
ld.get_data(
    universe=['LSEG.L', 'VOD.L'], 
    fields=['BID', 'ASK', 'TR.Revenue']
)

  Instrument      Revenue    BID    ASK
0     LSEG.L   8379000000  10155  10160
1      VOD.L  36717000000  77.24   77.3

### Fundamental fields with parameters

In [6]:
ld.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.PriceTargetMean(Source=ThomsonReuters)']
)

  Instrument  Price Target - Mean
0     LSEG.L          11001.52941
1      VOD.L              89.3358

### Fundamental fields with global parameters

In [7]:
ld.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.EV','TR.EVToSales'],
    parameters = {'SDate': '0CY', 'Curn': 'CAD'}
)

,Instrument,Enterprise Value (Daily Time Series),Enterprise Value To Sales (Daily Time Series Ratio)
0,LSEG.L,98359599642.303299,7.126019
1,VOD.L,108920809325.860001,2.031571

### Close the session

In [8]:
ld.close_session()