----
<img src="../../files/lseg.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Get history
This notebook demonstrates how to retrieve Pricing history and Fundamental & Reference history using the get_history() function.

#### About the get_history function
The get_history() function allows you to retrieve pricing history as well as Fundamental & Reference data history via a single function call.


***get_history()*** parameters: 
- ***universe***: Single instrument or list of instruments to request
    - Type: String or list
    - Optional: No  
- ***fields***: Single field or list of fields to request
    - Type: String or list
    - Optional: Yes  
-  ***interval***: Dat interval  
    - Type: String
    - Supported values: *tick, tas, taq, minute, 1min, 5min, 10min, 30min, 60min, hourly, 1h, daily, 1d, 1D, 7D, 7d, weekly, 1W, monthly, 1M, quarterly, 3M, 6M, yearly, 1Y*       
    - Optional: Yes  
-  ***start***: The start date and timestamp of the requested history
    - Type: String expressed in ISO8601 with UTC only
    - Optional: Yes  
-  ***end***: The end date and timestamp of the requested history  
    - Type: String expressed in ISO8601 with UTC only
    - Optionnal: Yes  
-  ***adjustments*** : Tells the system whether to apply or not apply CORAX (Corporate Actions) events or exchange/manual corrections or price and volume adjustment according to trade/quote qualifier summarization actions to historical time series data. 
    - Type: String expressed in ISO8601 with UTC only
    - Optional: Yes  
    - Supported values:
        - exchangeCorrection - Apply exchange correction adjustment to historical pricing
        - manualCorrection - Apply manual correction adjustment to historical pricing i.e. annotations made by content analysts
        - CCH - Apply Capital Change adjustment to historical Pricing due to Corporate Actions e.g. stock split
        - CRE - Apply Currency Redenomination adjustment when there is redenomination of currency
        - RTS - Apply Refinitiv TimeSeries adjustment to adjust both historical price and volume
        - RPO - Apply Refinitiv Price Only adjustment to adjust historical price only not volume
        - unadjusted - Not apply both exchange/manual correct and CORAX
        - qualifiers - For tick, tas and taq intervals only. Apply price or volume adjustment to historical pricing according to trade/quote qualifier summarization actions e.g. noPrice, noVolume, noPriceAndVolume, noBid, noAsk, noBidAndAsk, outOfSessionIntraday, outOfSessionInterday.
-  ***count*** : The maximum number of data points returned. 
Values range: 1 - 10000
    
**get_history()** returns a pandas.DataFrame. It raises exceptions on error and when no data is available.

#### Learn more

To learn more about the LSEG Data Library for Python please join the LSEG Developer Community. By [registering](https://developers.lseg.com/iam/register) and [logging](https://developers.lseg.com/content/devportal/en_us/initCookie.html) into the LSEG Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/quick-start), 
 [Tutorials](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/tutorials), 
 [Documentation](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Data Library Q&A Forum](https://community.developers.refinitiv.com/smart-spaces/521/index.html). 
The LSEG Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import lseg.data as ld

## Open the data session

The open_session() function creates and open sessions based on the information contained in the lseg-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
ld.open_session()

## Retrieve data

### Pricing history

In [3]:
ld.get_history("LSEG.L")

LSEG.L,TRDPRC_1,MKT_HIGH,MKT_LOW,ACVOL_UNS,MKT_OPEN,BID,ASK,TRNOVR_UNS,VWAP,MID_PRICE,...,CLS_AUC,TRD_STATUS,INT_AUC,INT_AUCVOL,EX_VOL_UNS,ALL_C_MOVE,ELG_NUMMOV,NAVALUE,TURN_ORDB,ELG_ACVOL
Date,,,,,,,,,,,,,,,,,,,,,
2024-08-09,9828.0,9866.0,9706.0,541592,9760,9828,9830,5319756400.00132,9822.3959,9829.0,...,9828,1,<NA>,<NA>,541595,3626,3192,<NA>,5033638342,<NA>
2024-08-12,9892.0,9946.0,9854.0,852057,9886,9936,9938,8452759414.45214,9920.37,9937.0,...,9938,1,<NA>,<NA>,852061,3508,3038,<NA>,5766426376,<NA>
2024-08-13,9972.0,10050.0,9903.7053,591542,10000,9972,9974,5896297502.69002,9967.5792,9973.0,...,9972,1,<NA>,<NA>,591548,3668,3191,<NA>,5151139361,<NA>
2024-08-14,9992.0,10095.0,9938.0,484460,10020,9992,9998,4838714081.29005,9987.8252,9995.0,...,9992,1,<NA>,<NA>,484461,4141,3584,<NA>,3930636487,<NA>
2024-08-15,9996.0,10000.0,9938.0,839731,9996,9964,9966,8379193930.5864,9978.4119,9965.0,...,9964,1,<NA>,<NA>,839732,3555,3278,<NA>,4642009906,<NA>
2024-08-16,9970.0,9970.0,9902.0,551074,9948,9968,9970,5485006908.00656,9953.2503,9969.0,...,9970,1,9940,77874,655559,3629,3281,<NA>,4805362082,<NA>
2024-08-19,9948.86119,10025.0,9926.7762,720949,9958,9976,9980,7182100026.75252,9961.9742,9978.0,...,9976,1,<NA>,<NA>,807009,2819,2491,<NA>,4008145763,<NA>
2024-08-20,9947.15925,10020.0,9896.5,1480684,9972,9946,9948,14750809639.88707,9962.146,9947.0,...,9948,1,<NA>,<NA>,1578030,4858,4460,<NA>,4962286740,<NA>
2024-08-21,9954.0,9978.0,9920.0,1053079,9954,9966,9968,10486176117.553699,9957.621,9967.0,...,9966,1,<NA>,<NA>,1053080,2821,2497,<NA>,3937251998,<NA>
2024-08-22,10010.0,10055.0,9978.0,843795,9984,10010,10015,8439525324.23773,10001.8306,10012.5,...,10010,1,<NA>,<NA>,843798,3365,2586,<NA>,4046358160,<NA>
2024-08-23,10010.0,10076.26,9998.0,699940,10050,10010,10015,7021318306.28152,10031.2635,10012.5,...,10010,1,<NA>,<NA>,699944,2703,2370,<NA>,4983526465,<NA>
2024-08-26,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10012.5,...,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2024-08-27,10135.0,10160.0,10030.0,769387,10105,10130,10135,7783228704.2903,10116.0833,10132.5,...,10135,1,<NA>,<NA>,769392,3602,3009,<NA>,4721695200,<NA>
2024-08-28,10220.0,10245.0,10145.0,489859,10175,10220,10225,5004797306.8404,10216.7678,10222.5,...,10220,1,<NA>,<NA>,489861,3228,2804,<NA>,4227262270,<NA>
2024-08-29,10215.0,10260.0,10200.0,1635768,10215,10225,10230,16716018670.31595,10219.062,10227.5,...,10230,1,<NA>,<NA>,1635768,3363,2932,<NA>,5022203165,<NA>
2024-08-30,10249.93,10290.0,10210.0,4082524,10245,10240,10250,41845751195.6035,10249.963,10245.0,...,10250,1,<NA>,<NA>,4082527,3441,2755,<NA>,26952416105,<NA>
2024-09-02,10197.13,10245.0,10095.0,342603,10225,10150,10155,3481408065.48105,10161.5685,10152.5,...,10155,1,<NA>,<NA>,342605,1989,1667,<NA>,2839488835,280879
2024-09-03,10130.0,10205.0,10121.909,1036281,10180,10155,10160,10540826055.666149,10171.784,10157.5,...,10160,1,<NA>,<NA>,1036281,2527,2220,<NA>,4264285420,999323
2024-09-04,10055.0,10160.0,10040.0,744385,10055,10135,10140,7511509722.78895,10090.8758,10137.5,...,10140,1,<NA>,<NA>,744386,2963,2692,<NA>,3821734355,701530
2024-09-05,10120.0,10195.0,10040.0,1483944,10120,10095,10100,15011185636.56345,10115.73,10097.5,...,10095,1,<NA>,<NA>,1483945,1909,1635,<NA>,3188762400,1416866

In [4]:
ld.get_history(universe="LSEG.L", fields=["BID", "ASK"], interval="1D",
               start = '2022-10-01', end = '2023-01-28')

LSEG.L       BID   ASK
Date
2022-10-03  7638  7640
2022-10-04  7716  7718
2022-10-05  7788  7790
2022-10-06  7682  7684
2022-10-07  7544  7546
...          ...   ...
2023-01-23  7328  7330
2023-01-24  7262  7264
2023-01-25  7294  7296
2023-01-26  7322  7324
2023-01-27  7386  7388

[82 rows x 2 columns]

In [5]:
ld.get_history(universe=["LSEG.L", "VOD.L"], fields="BID", interval="1Y")

BID              LSEG.L       VOD.L
Date
2005-12-31   567.048027  125.435296
2006-12-31  1205.780114  141.586252
2007-12-31  1822.947934  188.146829
2008-12-31    469.78446  139.280777
2009-12-31    658.61939  143.741371
2010-12-31   771.459775  166.194695
2011-12-31   729.547632  183.355671
2012-12-31   997.601118  158.245476
2013-12-31  1595.424872  242.902706
2014-12-31       2213.0      222.65
2015-12-31       2742.0       221.0
2016-12-31       2873.0       199.8
2017-12-31       3786.0      234.85
2018-12-31       4060.0       152.9
2019-12-31       7722.0      146.76
2020-12-31       9008.0      120.94
2021-12-31       6930.0      112.18
2022-12-31       7136.0       84.24
2023-12-31       9274.0       68.55
2024-12-31      10095.0       78.16

In [6]:
ld.get_history(universe=["LSEG.L", "VOD.L"], fields=["BID", "ASK"], interval="1Y")

                 LSEG.L                    VOD.L
                    BID          ASK         BID         ASK
Date
2005-12-31   567.048027   571.193788  125.435296  125.685666
2006-12-31  1205.780114   1206.70126  141.586252  141.836848
2007-12-31  1822.947934   1823.86908  188.146829  188.247067
2008-12-31    469.78446   476.232482  139.280777  139.330896
2009-12-31    658.61939   661.382828  143.741371  144.042085
2010-12-31   771.459775   771.920348  166.194695  166.345052
2011-12-31   729.547632    732.31107  183.355671  183.458162
2012-12-31   997.601118  1002.206848  158.245476  158.296721
2013-12-31  1595.424872  1596.346018  242.902706  243.056442
2014-12-31       2213.0       2221.0      222.65       222.7
2015-12-31       2742.0       2744.0       221.0       221.1
2016-12-31       2873.0       2914.0       199.8      199.85
2017-12-31       3786.0       3793.0      234.85       235.0
2018-12-31       4060.0       4062.0       152.9      153.06
2019-12-31       7722.0       7750.0      146.76      146.86
2020-12-31       9008.0       9016.0      120.94      120.96
2021-12-31       6930.0       6938.0      112.18      112.26
2022-12-31       7136.0       7138.0       84.24       84.25
2023-12-31       9274.0       9280.0       68.55       68.56
2024-12-31      10095.0      10100.0       78.16       78.18

### Fundamental data

In [7]:
ld.get_history(universe="LSEG.L", fields="TR.Revenue", interval="1Y", start="2015-01-01", end="2020-10-01")

LSEG.L         Revenue
Date
2014-12-31   957300000
2015-12-31  1418600000
2016-12-31  1657000000
2017-12-31  1955000000
2018-12-31  2135000000

In [8]:
ld.get_history(universe=["LSEG.L", "VOD.L"], fields="TR.Revenue", interval="1Y", start="2015-01-01", end="2020-10-01")

Revenue         LSEG.L        VOD.L
Date
2014-12-31   957300000         <NA>
2015-03-31        <NA>  48385000000
2015-12-31  1418600000         <NA>
2016-03-31        <NA>  49810000000
2016-12-31  1657000000         <NA>
2017-03-31        <NA>  47631000000
2017-12-31  1955000000         <NA>
2018-03-31        <NA>  46571000000
2018-12-31  2135000000         <NA>
2019-03-31        <NA>  43666000000

### Fundamental and pricing

In [9]:
ld.get_history(
    universe='LSEG.L',
    fields=["BID", "ASK", "TR.Revenue"],
    interval="1Y",
    start="2015-01-01",
    end="2019-10-01",
)

LSEG.L       BID   ASK     Revenue
Date
2014-12-31  <NA>  <NA>   957300000
2015-12-31  2742  2744  1418600000
2016-12-31  2873  2914  1657000000
2017-12-31  3786  3793  1955000000
2018-12-31  4060  4062        <NA>
2019-12-31  7722  7750        <NA>

In [10]:
ld.get_history(
    universe=["IBM.N", "VOD.L"],
    fields=["BID", "ASK", "TR.Revenue"],
    interval="1Y",
    start="2015-01-01",
    end="2020-10-01",
)

                 IBM.N                            VOD.L
                   BID         ASK      Revenue     BID     ASK      Revenue
Date
2014-12-31        <NA>        <NA>  92793000000    <NA>    <NA>         <NA>
2015-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  48385000000
2015-12-31   131.39236  131.411463  81741000000   221.0   221.1         <NA>
2016-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  49810000000
2016-12-31  158.547672  158.576327  79919000000   199.8  199.85         <NA>
2017-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  47631000000
2017-12-31  146.627226  146.636777  79139000000  234.85   235.0         <NA>
2018-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  46571000000
2018-12-31  108.516182  108.535285  79591000000   152.9  153.06         <NA>
2019-03-31        <NA>        <NA>         <NA>    <NA>    <NA>  43666000000
2019-12-31  127.963321  127.991976         <NA>  146.76  146.86         <NA>
2020-12-31  120.159631  120.236044         <NA>  120.94  120.96         <NA>

In [11]:
ld.get_history(
    universe=["IBM.N", "VOD.L"],
    fields=["BID", "ASK", 'TR.F.NetIncAfterTax', 'TR.RevenueMean'],
    interval="tick",
  
)

                             IBM.N                                      \
                        EVENT_TYPE     BID    ASK Net Income after Tax
Timestamp
2023-12-31 00:00:00.000       <NA>    <NA>   <NA>           7419000000
2024-03-31 00:00:00.000       <NA>    <NA>   <NA>                 <NA>
2024-08-20 00:00:00.000       <NA>    <NA>   <NA>                 <NA>
2024-09-03 00:00:00.000       <NA>    <NA>   <NA>                 <NA>
2024-09-05 19:59:59.897      quote  202.54  202.6                 <NA>
2024-09-05 19:59:59.900      quote  202.54  202.6                 <NA>
2024-09-05 19:59:59.976      quote  202.54  202.6                 <NA>
2024-09-05 19:59:59.985      quote  202.54  202.6                 <NA>
2024-09-05 19:59:59.995      quote  202.54  202.6                 <NA>
2024-09-05 19:59:59.997      quote  202.59  202.6                 <NA>
2024-09-05 19:59:59.997      trade  202.54  202.6                 <NA>
2024-09-05 19:59:59.998      trade  202.59  202.6                 <NA>
2024-09-05 20:00:01.536      trade  202.59  202.6                 <NA>
2024-09-05 20:00:01.536      quote  202.59  202.6                 <NA>
2024-09-05 20:00:01.679      quote     0.0    0.0                 <NA>
2024-09-05 20:00:02.017      trade     0.0    0.0                 <NA>
2024-09-06 08:18:35.103       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:35.104       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:35.198       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:35.295       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:35.550       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:39.171       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:39.171       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:39.172       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:39.217       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:39.217       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:53.735       <NA>    <NA>   <NA>                 <NA>
2024-09-06 08:18:56.241       <NA>    <NA>   <NA>                 <NA>

                                            VOD.L               \
                        Revenue - Mean EVENT_TYPE    BID   ASK
Timestamp
2023-12-31 00:00:00.000           <NA>       <NA>   <NA>  <NA>
2024-03-31 00:00:00.000           <NA>       <NA>   <NA>  <NA>
2024-08-20 00:00:00.000    63222561590       <NA>   <NA>  <NA>
2024-09-03 00:00:00.000           <NA>       <NA>   <NA>  <NA>
2024-09-05 19:59:59.897           <NA>       <NA>   <NA>  <NA>
2024-09-05 19:59:59.900           <NA>       <NA>   <NA>  <NA>
2024-09-05 19:59:59.976           <NA>       <NA>   <NA>  <NA>
2024-09-05 19:59:59.985           <NA>       <NA>   <NA>  <NA>
2024-09-05 19:59:59.995           <NA>       <NA>   <NA>  <NA>
2024-09-05 19:59:59.997           <NA>       <NA>   <NA>  <NA>
2024-09-05 19:59:59.997           <NA>       <NA>   <NA>  <NA>
2024-09-05 19:59:59.998           <NA>       <NA>   <NA>  <NA>
2024-09-05 20:00:01.536           <NA>       <NA>   <NA>  <NA>
2024-09-05 20:00:01.536           <NA>       <NA>   <NA>  <NA>
2024-09-05 20:00:01.679           <NA>       <NA>   <NA>  <NA>
2024-09-05 20:00:02.017           <NA>       <NA>   <NA>  <NA>
2024-09-06 08:18:35.103           <NA>      quote  77.26  77.3
2024-09-06 08:18:35.104           <NA>      quote  77.24  77.3
2024-09-06 08:18:35.198           <NA>      quote  77.24  77.3
2024-09-06 08:18:35.295           <NA>      quote  77.24  77.3
2024-09-06 08:18:35.550           <NA>      quote  77.24  77.3
2024-09-06 08:18:39.171           <NA>      quote  77.26  77.3
2024-09-06 08:18:39.171           <NA>      quote  77.24  77.3
2024-09-06 08:18:39.172           <NA>      quote  77.26  77.3
2024-09-06 08:18:39.217           <NA>      quote  77.24  77.3
2024-09-06 08:18:39.217           <NA>      quote  77.26  77.3
2024-09-06 08:18:53.735           <NA>      quote  77.24  77.3
2024-09-06 08:18:56.241           <NA>      quote  77.24  77.3


                        Net Income after Tax Revenue - Mean
Timestamp
2023-12-31 00:00:00.000                 <NA>           <NA>
2024-03-31 00:00:00.000           1570000000           <NA>
2024-08-20 00:00:00.000                 <NA>           <NA>
2024-09-03 00:00:00.000                 <NA>    38128192560
2024-09-05 19:59:59.897                 <NA>           <NA>
2024-09-05 19:59:59.900                 <NA>           <NA>
2024-09-05 19:59:59.976                 <NA>           <NA>
2024-09-05 19:59:59.985                 <NA>           <NA>
2024-09-05 19:59:59.995                 <NA>           <NA>
2024-09-05 19:59:59.997                 <NA>           <NA>
2024-09-05 19:59:59.997                 <NA>           <NA>
2024-09-05 19:59:59.998                 <NA>           <NA>
2024-09-05 20:00:01.536                 <NA>           <NA>
2024-09-05 20:00:01.536                 <NA>           <NA>
2024-09-05 20:00:01.679                 <NA>           <NA>
2024-09-05 20:00:02.017                 <NA>           <NA>
2024-09-06 08:18:35.103                 <NA>           <NA>
2024-09-06 08:18:35.104                 <NA>           <NA>
2024-09-06 08:18:35.198                 <NA>           <NA>
2024-09-06 08:18:35.295                 <NA>           <NA>
2024-09-06 08:18:35.550                 <NA>           <NA>
2024-09-06 08:18:39.171                 <NA>           <NA>
2024-09-06 08:18:39.171                 <NA>           <NA>
2024-09-06 08:18:39.172                 <NA>           <NA>
2024-09-06 08:18:39.217                 <NA>           <NA>
2024-09-06 08:18:39.217                 <NA>           <NA>
2024-09-06 08:18:53.735                 <NA>           <NA>
2024-09-06 08:18:56.241                 <NA>           <NA>

### Open High Low Close

#### Get tick data

In [12]:
df=ld.get_history(universe="GOOG.O", fields=['BID','ASK'], interval="tick", count=2000)
df

GOOG.O                  EVENT_TYPE     BID     ASK
Timestamp
2024-09-05 21:16:36.674      trade  158.15   158.2
2024-09-05 21:16:36.804      trade  158.15   158.2
2024-09-05 21:16:36.805      trade  158.15   158.2
2024-09-05 21:16:36.806      trade  158.15   158.2
2024-09-05 21:16:37.384      trade  158.15   158.2
...                            ...     ...     ...
2024-09-06 08:18:47.487      quote   157.5  157.79
2024-09-06 08:18:47.490      quote  157.55  157.79
2024-09-06 08:18:56.110      quote  157.55  157.78
2024-09-06 08:19:00.302      trade  157.55  157.78
2024-09-06 08:19:00.539      quote  157.55  157.79

[2000 rows x 3 columns]

#### Resample to 5 seconds bars

In [13]:
df.ohlc("5s")

GOOG.O                  BID                             ASK                  \
                       open    high     low   close    open    high     low
Timestamp
2024-09-05 21:16:35  158.15  158.15  158.15  158.15  158.20  158.20  158.20
2024-09-05 21:16:40  158.15  158.15  158.15  158.15  158.20  158.20  158.20
2024-09-05 21:16:45     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2024-09-05 21:16:50     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2024-09-05 21:16:55     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...                     ...     ...     ...     ...     ...     ...     ...
2024-09-06 08:18:40     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2024-09-06 08:18:45  157.62  157.62  157.50  157.55  157.79  157.79  157.79
2024-09-06 08:18:50     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2024-09-06 08:18:55  157.55  157.55  157.55  157.55  157.78  157.78  157.78
2024-09-06 08:19:00  157.55  157.55  157.55  157.55  157.78  157.79  157.78

GOOG.O
                      close
Timestamp
2024-09-05 21:16:35  158.20
2024-09-05 21:16:40  158.20
2024-09-05 21:16:45     NaN
2024-09-05 21:16:50     NaN
2024-09-05 21:16:55     NaN
...                     ...
2024-09-06 08:18:40     NaN
2024-09-06 08:18:45  157.79
2024-09-06 08:18:50     NaN
2024-09-06 08:18:55  157.78
2024-09-06 08:19:00  157.79

[7950 rows x 8 columns]

### Close the session

In [14]:
ld.close_session()