----
<img src="../../files/lseg.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Pricing Stream Recorder
This notebook demonstrates how to use the pricing recorder to record a history of streaming data and generate Open High Low Close bars.

#### About the record() method
The **record()** method allows you record data events received by a PricingStream object. Received data can be used to automatically generate OHLC bars stored by the recorder.

***record()*** parameters: 
- ***frequency***: Frequency used to generate ohlc bars
    - Type: String
    - Optional: Yes  
- ***duration***: Recording duration. Can be provided in seconds, minutes, hours
    - Type: String
    - Optional: Yes  
- ***ticks_per_bar***: Number of ticks to record for Tick Bars recording 
    - Type: String
    - Optional: Yes  
- ***on_data***: Callback function called when a new tick is received or when a new bar is calculated
    - Type: Function
    - Optional: Yes

#### Learn more

To learn more about the LSEG Data Library for Python please join the LSEG Developer Community. By [registering](https://developers.lseg.com/iam/register) and [logging](https://developers.lseg.com/content/devportal/en_us/initCookie.html) into the LSEG Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/quick-start), 
 [Tutorials](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/tutorials), 
 [Documentation](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Data Library Q&A Forum](https://community.developers.refinitiv.com/smart-spaces/521/index.html). 
The LSEG Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import lseg.data as ld
import datetime
from IPython.display import display, clear_output

## Open the data session

The open_session() function creates and open sessions based on the information contained in the lseg-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
ld.open_session()

## Retrieve data

### Record ticks

#### Create and open a Pricing stream

In [3]:
stream = ld.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Start recording

In [4]:
stream.recorder.record(frequency='tick')

... Wait for a little while (20 to 30 seconds) ...

#### Stop recording and display the recorded history

In [5]:
stream.recorder.stop()
tick_history = stream.recorder.get_history()
display(tick_history)

                              EUR=            JPY=            GBP=
                               BID     ASK     BID     ASK     BID     ASK
Timestamp
2024-09-06 09:19:34.448220    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:34.877837    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:35.443307    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:35.484910    <NA>    <NA>    <NA>    <NA>  1.3171  1.3178
2024-09-06 09:19:35.864870    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:36.441317    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:36.847076    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:36.868483    <NA>    <NA>    <NA>    <NA>  1.3172  1.3178
2024-09-06 09:19:37.170750    <NA>    <NA>    <NA>    <NA>  1.3171  1.3178
2024-09-06 09:19:37.434571    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:37.867081    <NA>    <NA>    <NA>    <NA>  1.3174  1.3175
2024-09-06 09:19:37.896790    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:38.479846    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:38.861988    <NA>    <NA>    <NA>    <NA>  1.3174  1.3175
2024-09-06 09:19:39.145423    <NA>    <NA>    <NA>    <NA>  1.3174  1.3175
2024-09-06 09:19:40.908598    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:41.515075    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:41.729154  1.1113  1.1114    <NA>    <NA>    <NA>    <NA>
2024-09-06 09:19:41.850941    <NA>    <NA>    <NA>    <NA>  1.3174  1.3175
2024-09-06 09:19:41.951271    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:42.263725    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:42.879579    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:43.483975    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:43.770335    <NA>    <NA>  142.69  142.74    <NA>    <NA>
2024-09-06 09:19:44.317052    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:45.170225    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:45.487781    <NA>    <NA>   142.7  142.75    <NA>    <NA>
2024-09-06 09:19:45.504140    <NA>    <NA>    <NA>    <NA>  1.3171  1.3178
2024-09-06 09:19:46.092937    <NA>    <NA>    <NA>    <NA>  1.3174  1.3175
2024-09-06 09:19:46.171768    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:46.864815    <NA>    <NA>  142.69  142.74    <NA>    <NA>
2024-09-06 09:19:46.864927    <NA>    <NA>    <NA>    <NA>  1.3174  1.3175
2024-09-06 09:19:47.176113    <NA>    <NA>   142.7  142.75    <NA>    <NA>
2024-09-06 09:19:47.907115    <NA>    <NA>    <NA>    <NA>  1.3174  1.3175
2024-09-06 09:19:47.907143    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:48.226664    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:48.506008    <NA>    <NA>  142.71  142.76    <NA>    <NA>
2024-09-06 09:19:48.896411    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:50.550376    <NA>    <NA>   142.7  142.71    <NA>    <NA>
2024-09-06 09:19:51.746154    <NA>    <NA>  142.69   142.7    <NA>    <NA>
2024-09-06 09:19:52.058905    <NA>    <NA>  142.69   142.7    <NA>    <NA>

#### Resample the tick history to 5 seconds bars

In [6]:
tick_history.ohlc("5s")

                       EUR=                                                  \
                        BID                             ASK
                       open    high     low   close    open    high     low
Timestamp
2024-09-06 09:19:30  1.1113  1.1113  1.1113  1.1113  1.1114  1.1114  1.1114
2024-09-06 09:19:35  1.1113  1.1113  1.1113  1.1113  1.1114  1.1114  1.1114
2024-09-06 09:19:40  1.1113  1.1113  1.1113  1.1113  1.1114  1.1114  1.1114
2024-09-06 09:19:45  1.1113  1.1113  1.1113  1.1113  1.1114  1.1114  1.1114
2024-09-06 09:19:50  1.1113  1.1113  1.1113  1.1113  1.1114  1.1114  1.1114

                               JPY=          ...                    GBP=  \
                                BID          ...     ASK             BID
                      close    open    high  ...     low   close    open
Timestamp                                    ...
2024-09-06 09:19:30  1.1114  142.69  142.69  ...  142.70  142.70  1.3171
2024-09-06 09:19:35  1.1114  142.69  142.69  ...  142.70  142.70  1.3171
2024-09-06 09:19:40  1.1114  142.70  142.70  ...  142.71  142.71  1.3174
2024-09-06 09:19:45  1.1114  142.70  142.71  ...  142.71  142.71  1.3174
2024-09-06 09:19:50  1.1114  142.70  142.70  ...  142.70  142.70  1.3174


                                                ASK
                       high     low   close    open    high     low   close
Timestamp
2024-09-06 09:19:30  1.3171  1.3171  1.3171  1.3178  1.3178  1.3178  1.3178
2024-09-06 09:19:35  1.3174  1.3171  1.3174  1.3178  1.3178  1.3175  1.3175
2024-09-06 09:19:40  1.3174  1.3174  1.3174  1.3175  1.3175  1.3175  1.3175
2024-09-06 09:19:45  1.3174  1.3171  1.3174  1.3175  1.3178  1.3175  1.3175
2024-09-06 09:19:50  1.3174  1.3174  1.3174  1.3175  1.3175  1.3175  1.3175

[5 rows x 24 columns]

#### Close the stream

In [7]:
stream.close()

### Record OHLC bars for a given duration

#### Create and open a Pricing stream

In [8]:
stream = ld.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Start recording

Start recording 2 seconds OHLC bars for a duration of 10 seconds

In [9]:
stream.recorder.record(frequency='2s', duration='10s')
stream.recorder.stop()

#### Display the recorded history

In [10]:
stream.recorder.get_history()

                              GBP=                                          \
                               BID                             ASK
                              open    high     low   close    open    high
Timestamp
2024-09-06 09:19:58.854673  1.3174  1.3174  1.3174  1.3174  1.3175  1.3175
2024-09-06 09:20:00.867544  1.3174  1.3174  1.3174  1.3174  1.3175  1.3175
2024-09-06 09:20:02.878601     NaN     NaN     NaN     NaN     NaN     NaN
2024-09-06 09:20:04.893285     NaN     NaN     NaN     NaN     NaN     NaN
2024-09-06 09:20:06.911699  1.3171  1.3171  1.3171  1.3171  1.3178  1.3178

                                              JPY=          ...          \
                                               BID          ...     ASK
                               low   close    open    high  ...   close
Timestamp                                                   ...
2024-09-06 09:19:58.854673  1.3175  1.3175  142.69  142.70  ...  142.70
2024-09-06 09:20:00.867544  1.3175  1.3175  142.70  142.70  ...  142.71
2024-09-06 09:20:02.878601     NaN     NaN  142.70  142.71  ...  142.74
2024-09-06 09:20:04.893285     NaN     NaN  142.70  142.71  ...  142.72
2024-09-06 09:20:06.911699  1.3178  1.3178  142.71  142.71  ...  142.72

                           ticks count    EUR=                          \
                                           BID
                                          open    high     low   close
Timestamp
2024-09-06 09:19:58.854673           5     NaN     NaN     NaN     NaN
2024-09-06 09:20:00.867544           6     NaN     NaN     NaN     NaN
2024-09-06 09:20:02.878601           5     NaN     NaN     NaN     NaN
2024-09-06 09:20:04.893285           4     NaN     NaN     NaN     NaN
2024-09-06 09:20:06.911699           7  1.1113  1.1113  1.1113  1.1113


                               ASK
                              open    high     low   close
Timestamp
2024-09-06 09:19:58.854673     NaN     NaN     NaN     NaN
2024-09-06 09:20:00.867544     NaN     NaN     NaN     NaN
2024-09-06 09:20:02.878601     NaN     NaN     NaN     NaN
2024-09-06 09:20:04.893285     NaN     NaN     NaN     NaN
2024-09-06 09:20:06.911699  1.1114  1.1114  1.1114  1.1114

[5 rows x 25 columns]

#### Close the stream

In [11]:
stream.close()

### Record OHLC bars with events

#### Create and open a Pricing stream

In [12]:
stream = ld.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Define a callback to receive new bars

In [13]:
def print_history(bar, recorder):
    clear_output(wait=True)
    current_time = datetime.datetime.now().time()
    print("New bar received at", current_time)
    display(bar)

#### Start recording

Start recording 5 seconds OHLC bars

In [14]:
stream.recorder.record(frequency='5s', on_data=print_history)

New bar received at 09:20:18.036734

                              EUR=                                          \
                               BID                             ASK
                              open    high     low   close    open    high
Timestamp
2024-09-06 09:20:18.029625  1.1113  1.1113  1.1113  1.1113  1.1114  1.1114

                                              JPY=         ...          \
                                               BID         ...     ASK
                               low   close    open   high  ...   close
Timestamp                                                  ...
2024-09-06 09:20:18.029625  1.1114  1.1114  142.69  142.7  ...  142.71

                              GBP=                                          \
                               BID                             ASK
                              open    high     low   close    open    high
Timestamp
2024-09-06 09:20:18.029625  1.3171  1.3174  1.3171  1.3174  1.3178  1.3178

                                           ticks count

                               low   close
Timestamp
2024-09-06 09:20:18.029625  1.3175  1.3175          15

[1 rows x 25 columns]

... Wait for a little while (20 to 30 seconds) ...

#### Stop recording and display the recorded history

In [15]:
stream.recorder.stop()
stream.recorder.get_history()

New bar received at 09:20:22.494164

                              EUR=                                          \
                               BID                             ASK
                              open    high     low   close    open    high
Timestamp
2024-09-06 09:20:18.029625  1.1113  1.1113  1.1113  1.1113  1.1114  1.1114
2024-09-06 09:20:22.475780     NaN     NaN     NaN     NaN     NaN     NaN

                                              JPY=          ...          \
                                               BID          ...     ASK
                               low   close    open    high  ...   close
Timestamp                                                   ...
2024-09-06 09:20:18.029625  1.1114  1.1114  142.69  142.70  ...  142.71
2024-09-06 09:20:22.475780     NaN     NaN  142.68  142.69  ...  142.73

                              GBP=                                          \
                               BID                             ASK
                              open    high     low   close    open    high
Timestamp
2024-09-06 09:20:18.029625  1.3171  1.3174  1.3171  1.3174  1.3178  1.3178
2024-09-06 09:20:22.475780  1.3174  1.3174  1.3174  1.3174  1.3175  1.3175

                                           ticks count

                               low   close
Timestamp
2024-09-06 09:20:18.029625  1.3175  1.3175          15
2024-09-06 09:20:22.475780  1.3175  1.3175           5

[2 rows x 25 columns]

                              JPY=                                          \
                               BID                             ASK
                              open    high     low   close    open    high
Timestamp
2024-09-06 09:20:22.475780  142.68  142.69  142.68  142.68  142.73  142.74

                                              GBP=                          \
                                               BID
                               low   close    open    high     low   close
Timestamp
2024-09-06 09:20:22.475780  142.73  142.73  1.3174  1.3174  1.3174  1.3174

                                                           ticks count
                               ASK
                              open    high     low   close
Timestamp
2024-09-06 09:20:22.475780  1.3175  1.3175  1.3175  1.3175           5

#### Close the stream

In [16]:
stream.close()

### Close the session

In [17]:
ld.close_session()