----
<img src="../../files/lseg.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Search
This notebook demonstrates how to use the search function of the Access Layer.

#### About the search function
The search() function identifies a matching set of documents which satisfy the caller's criteria, sorts it, and selects a subset of the matches to return as the result.

***search()*** parameters: 

- ***query***: One of two parameters (the other being Filter) which restricts the set of documents matched. It's primarily intended for "sloppy" unstructured input, the kind of thing that an end-user might type into a search input textbox. Structured input with more specificity should usually go through Filter instead.
    - Type: String
    - Optional: Yes  
- ***filter***: Where 'query' is for unstructured end-user-oriented restriction, 'filter' is for structured programmatic restriction. As with Query, the default is empty, i.e. doesn't restrict search in any way. Filter values are boolean predicate expressions to be applied to documents
    - Type: String
    - Optional: Yes  
- ***view***: Identifies a subset of the overall search data universe.
    - Type: Views
    - Optional: Yes  
    - Default: Views.SEARCH_ALL
- ***order_by***: Defines the order in which matching documents should be returned.
    - Type: String
    - Optional: Yes  
- ***boost***: This argument supports exactly the same predicate expression syntax as filter, but where filter restricts which documents are matched at all, boost just applies a large scoring boost to documents it matches, which will almost always guarantee that they appear at the top of the results.
    - Type: String
    - Optional: Yes  
- ***select***: A comma-separated list of the properties of a document to be returned in the response.
    - Type: String
    - Optional: Yes  
- ***top***: The maximum number of documents to retrieve. Must be non-negative.
    - Type: int
    - Optional: Yes  
- ***skip***: The number of documents to skip in the sorted result set before returning the next top.
    - Type: int
    - Optional: Yes  
- ***group_by***: If specified, this must name a single Groupable property. Returned documents are grouped into buckets based on their value for this property.
    - Type: String
    - Optional: Yes  
- ***group_count***:  When supplied in combination with group_by, sets the maximum number of documents to be returned per bucket.
    - Type: int
    - Optional: Yes  
    
**search()** returns a pandas.DataFrame containing the search result with document properties in columns and search hits in rows.  
It raises exceptions on error and when no data is available

#### Learn more

To learn more about the LSEG Data Library for Python please join the LSEG Developer Community. By [registering](https://developers.lseg.com/iam/register) and [logging](https://developers.lseg.com/content/devportal/en_us/initCookie.html) into the LSEG Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/quick-start), 
 [Tutorials](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/tutorials), 
 [Documentation](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Data Library Q&A Forum](https://community.developers.refinitiv.com/smart-spaces/521/index.html). 
The LSEG Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import lseg.data as ld

## Open the data session

The open_session() function creates and open sessions based on the information contained in the lseg-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
ld.open_session()

## Retrieve data

### General Search

In [3]:
ld.discovery.search("IBM Bonds")

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",192826895881,0x00102c8de61f1850,US194445610=
1,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",46644611190,0x00102c00c0900d61,US161784508=
2,INSTRUMENTxFIXEDINCOMExGOVCORP,"Fideicomiso Fibra Uno, Plain Vanilla Fixed Cou...",44658934367,0x0004051cd9531a8d,FUNO15=
3,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",232796002153,0x00102cfffd953398,459200KS9=
4,INSTRUMENTxFIXEDINCOMExGOVCORP,"Fideicomiso Fibra Uno, Fixed Margin over Index...",232779066893,0x00102cb061232de3,FUNO212X=VALR
5,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",15628361579,0x0000fa00068e7c0e,459200AM3=
6,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",44652137828,0x00040514f83234eb,US099109963=
7,INSTRUMENTxFIXEDINCOMExGOVCORP,"Fideicomiso Fibra Uno, Plain Vanilla Fixed Cou...",46637470062,0x00102ca4794f05ab,MX133173986=
8,INSTRUMENTxFIXEDINCOMExGOVCORP,"Fideicomiso Fibra Uno, Plain Vanilla Fixed Cou...",46637469894,0x00102cb77c4f05bd,898324AC2=
9,INSTRUMENTxFIXEDINCOMExGOVCORP,"Ibm International Capital Pte Ltd, Plain Vanil...",232836247320,0x001055f1ed370b65,449276AA2=

In [4]:
ld.discovery.search(
    view = ld.discovery.Views.EQUITY_QUOTES,
    top = 10,
    filter = "( SearchAllCategoryv2 eq 'Equities' and (AvgVol5D gt 2000000 and ExchangeName xeq 'NYSE Consolidated'))",
    select = "DTSubjectName,ExchangeName,RIC,IssueISIN,Gics,AssetState,BusinessEntity,PI,SearchAllCategoryv3,SearchAllCategoryv2,SearchAllCategory,TickerSymbol,CUSIP,CinCUSIP,AvgVol5D,RCSCurrencyLeaf,RCSTRBC2012Leaf,ExDividendDate,AvgVol30D,AvgVol90D,MktCapCompanyUsd,Pe,OpProfitUsd",
    order_by = "AvgVol5D desc"
)

,DTSubjectName,ExchangeName,RIC,IssueISIN,AssetState,BusinessEntity,PI,SearchAllCategoryv3,SearchAllCategoryv2,SearchAllCategory,...,RCSCurrencyLeaf,RCSTRBC2012Leaf,ExDividendDate,AvgVol30D,AvgVol90D,MktCapCompanyUsd,Pe,OpProfitUsd,Gics,CinCUSIP
0,Lucent Tech Common,NYSE Consolidated,LU^L06,US5494631071,DC,QUOTExEQUITY,727519,Equities,Equities,Equities,...,US Dollar,Phones & Smart Phones,2002-06-03,76498576,52460507,12785856315,23.181818,1261000000,<NA>,<NA>
1,Sprint Nextel Ord Shs,NYSE Consolidated,S^G13,US8520611000,DC,QUOTExEQUITY,726511,Equities,Equities,Equities,...,US Dollar,Integrated Telecommunications Services (NEC),2007-12-05,91782568,64730316,<NA>,<NA>,<NA>,<NA>,<NA>
2,Nu Holdings Ltd,NYSE Consolidated,NU,KYG6683N1034,AC,QUOTExEQUITY,568361175,Equities,Equities,Equities,...,US Dollar,Banks (NEC),NaT,55128975,36227148,67866945072,45.408163,1539078000,Financials/Banks/Banks/Diversified Banks,G6683N103
3,Countrywide Financial Ord Shs,NYSE Consolidated,CFC^G08,US2223721042,DC,QUOTExEQUITY,1330084,Equities,Equities,Equities,...,US Dollar,Consumer Lending (NEC),2008-05-12,32484512,27215682,2479213865,<NA>,-1310274000,<NA>,<NA>
4,AMC Entertainment Hldg Pref Equity Units Depos...,NYSE Consolidated,APE^H23,US00165C2035,DC,QUOTExEQUITY,632258215,Equities,Equities,Equities,...,US Dollar,Movie Theaters & Movie Products,NaT,30724545,18365998,1698368288,<NA>,34300000,Communication Services/Media & Entertainment/E...,<NA>
5,Baxalta Ord Shs,NYSE Consolidated,BXLT.K^F16,US07177M1036,DC,QUOTExEQUITY,193687667,Equities,Equities,Equities,...,US Dollar,Generic Pharmaceuticals,2016-06-08,18908611,12542023,31456508499,38.808588,1203000000,<NA>,<NA>
6,Citigroup Ord Shs,NYSE Consolidated,Cw^G09,US1729674242,DC,QUOTExEQUITY,61935203,Equities,Equities,Equities,...,US Dollar,Investment Banking & Brokerage Services (NEC),NaT,<NA>,<NA>,116299196916,<NA>,14651000000,Financials/Banks/Banks/Diversified Banks,<NA>
7,Credit Suisse Group ADR Reptg One Ord Shs,NYSE Consolidated,CS^F23,US2254011081,DC,QUOTExEQUITY,5360130,Equities,Equities,Equities,...,US Dollar,Banks (NEC),2022-12-09,27974140,42045316,3612997941,1.623989,-2985635359,Financials/Financial Services/Capital Markets/...,<NA>
8,Twitter Ord Shs,NYSE Consolidated,TWTR.K^J22,US90184L1026,DC,QUOTExEQUITY,143022084,Equities,Equities,Equities,...,US Dollar,Social Media & Networking,NaT,26848959,17947130,41093718362,<NA>,272962000,<NA>,<NA>
9,GGP Ord Shs,NYSE Consolidated,GGP^H18,US36174X1019,DC,QUOTExEQUITY,726801,Equities,Equities,Equities,...,US Dollar,Retail REITs,2018-07-12,19154015,11301129,699308472,37.593729,215728000,<NA>,<NA>

### Specify number of rows to fetch

In [5]:
ld.discovery.search("IBM Bonds", top=100)

,BusinessEntity,DocumentTitle,PermID,PI,RIC
0,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",192826895881,0x00102c8de61f1850,US194445610=
1,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",46644611190,0x00102c00c0900d61,US161784508=
2,INSTRUMENTxFIXEDINCOMExGOVCORP,"Fideicomiso Fibra Uno, Plain Vanilla Fixed Cou...",44658934367,0x0004051cd9531a8d,FUNO15=
3,INSTRUMENTxFIXEDINCOMExGOVCORP,"International Business Machines Corp, Plain Va...",232796002153,0x00102cfffd953398,459200KS9=
4,INSTRUMENTxFIXEDINCOMExGOVCORP,"Fideicomiso Fibra Uno, Fixed Margin over Index...",232779066893,0x00102cb061232de3,FUNO212X=VALR
...,...,...,...,...,...
95,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",15628870427,0x000386001f82352d,<NA>
96,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",15628377011,0x0000fa000a004bbb,<NA>
97,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",15629030262,0x000386003ff16f24,<NA>
98,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",15629030258,0x000386003ff16b20,<NA>
99,INSTRUMENTxFIXEDINCOMExGOVCORP,"IBM Credit LLC, Plain Vanilla Fixed Coupon Bon...",15629030225,0x000386003ff1470c,<NA>

### Filter Expressions

In [6]:
ld.discovery.search(
    view=ld.discovery.Views.GOV_CORP_INSTRUMENTS,
    select="ISIN,RIC,IssueDate,Currency,FaceIssuedTotal,CouponRate,MaturityDate", 
    filter="IssuerTicker eq 'IBM' and IsActive eq true and AssetStatus ne 'MAT'"
)

,ISIN,RIC,IssueDate,Currency,FaceIssuedTotal,CouponRate,MaturityDate
0,XS1944456109,US194445610=,2019-01-31,EUR,1000000000,0.875,2025-01-31
1,XS1617845083,US161784508=,2017-05-23,EUR,1000000000,0.95,2025-05-23
2,US459200KS93,459200KS9=,2022-07-27,USD,1000000000,4.0,2025-07-27
3,US459200AM34,459200AM3=,1995-10-30,USD,600000000,7.0,2025-10-30
4,XS0991099630,US099109963=,2013-11-07,EUR,1000000000,2.875,2025-11-07
5,US459200KW06,459200KW0=,2023-02-06,USD,850000000,4.5,2026-02-06
6,US459200JG74,459200JG7=,2016-02-19,USD,1350000000,3.45,2026-02-19
7,US459200JZ55,459200JZ5=,2019-05-15,USD,3000000000,3.3,2026-05-15
8,XS1512978112,US151297811=,2016-11-02,JPY,42000000000,0.3,2026-11-02
9,US459200JR30,459200JR3=,2017-01-27,USD,500000000,3.3,2027-01-27

### Search with order_by option

In [7]:
ld.discovery.search(
    view=ld.discovery.Views.PEOPLE,
    query="ceo",
    order_by="YearOfBirth desc,LastName,FirstName",
    select="YearOfBirth,DocumentTitle"
)

   YearOfBirth                                      DocumentTitle
0         1997  Carl Fredrik Mikael Akerman - VOLTA GREENTECH ...
1         1997  Martins Balodis - Facing It International - Ch...
2         1997  David Samuel Haloho - David Sistem Group PT - ...
3         1997  Dhiraj Kochar - Vdeal System Ltd - Managing Di...
4         1997  Ulviyya Rustamova - Level Zero Health Inc - Ch...
5         1997  Rishi Tandon - Creative Casuals (India) Pvt Lt...
6         1997  Paul-Louis Venard - Phospho SAS - Chief Execut...
7         1996  Senthil Nathan Abishiek - Acsen Tex Pvt Ltd - ...
8         1996  Mitchell Babalola Christopher Fasanya - Search...
9         1996  Ethan Fraenkel - Prograd uk Inc - Chief Execut...

### Search with group_by option

In [8]:
ld.discovery.search(
    view=ld.discovery.Views.INDICATOR_QUOTES,
    query="rate",
    group_by="CentralBankName",
    group_count=2,
    select="CentralBankName,DocumentTitle,RIC"
)

,CentralBankName,DocumentTitle,RIC
0,Federal Reserve System,"United States, Policy Rates, Fed Funds Target ...",USFOMC=ECI
1,Federal Reserve System,"United States, Policy Rates, Fed Overnight Rep...",USRRP=ECI
2,Sveriges Riksbank,"Sweden, Policy Rates, Riksbank Rate (Effective...",SERATE=ECI
3,Sveriges Riksbank,"Sweden, Riksbank Rate-Sest, Reuters Polls, Dai...",pSERATE=F
4,Bank Indonesia,"Indonesia, Policy Rates, 7-Day Reverse Repo, R...",IDCBRR=ECI
5,Bank Indonesia,"Indonesia, Policy Rates, Deposit Facility Rate...",IDCBID=ECI
6,Bank of Thailand,"Thailand, Policy Rates, 1-Day Repurchase Rate ...",THCBIR=ECI
7,Bank of Thailand,"Thailand, 1-Day Repo Rate -Sest, Reuters Polls...",pTHCBIR=F
8,Bank of Korea,"South Korea, Policy Rates, Base Rate, Reuters ...",KROCRT=ECI
9,Bank of Korea,"South Korea, BASE RATE - YUANTA SEC, Reuters P...",pKROCRT=5000012417

### Search For People

In [9]:
ld.discovery.search(
    query="cfo",
    view=ld.discovery.Views.PEOPLE
)

,BusinessEntity,DocumentTitle,PermID,PI
0,PERSON,Amy E. Hood - Microsoft Corp - Chief Financial...,34415553383,34415553383
1,PERSON,Luca Maestri - Apple Inc - Chief Financial Off...,34414554748,34414554748
2,PERSON,Brian T. Olsavsky - Amazon.com Inc - Senior Vi...,34417610894,34417610894
3,PERSON,Susan J. Li - Meta Platforms Inc - Chief Finan...,34424688603,34424688603
4,PERSON,Marc D. Hamburg - Berkshire Hathaway Inc - Chi...,34413152672,34413152672
5,PERSON,Andrew K. Klatt - Berkshire Hathaway Inc - CFO...,34414966250,34414966250
6,PERSON,Xu Hong - Alibaba Group Holding Ltd - Chief Fi...,34425652371,34425652371
7,PERSON,John Lo - Tencent Holdings Ltd - Chief Financi...,34414907131,34414907131
8,PERSON,Jeremy Barnum - JPMorgan Chase & Co - Chief Fi...,34425402851,34425402851
9,PERSON,Francois-Xavier Roger - Nestle SA - Member of ...,34421446607,34421446607

### Close the session

In [10]:
ld.close_session()