----
<img src="../../files/lseg.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Screeners
This notebook demonstrates how to use the Screener object of the Access layer in conjunction with get_data, get_history and pricing streams.

#### Learn more

To learn more about the LSEG Data Library for Python please join the LSEG Developer Community. By [registering](https://developers.lseg.com/iam/register) and [logging](https://developers.lseg.com/content/devportal/en_us/initCookie.html) into the LSEG Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/quick-start), 
 [Tutorials](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/tutorials), 
 [Documentation](https://developers.lseg.com/en/api-catalog/lseg-data-platform/lseg-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Data Library Q&A Forum](https://community.developers.refinitiv.com/smart-spaces/521/index.html). 
The LSEG Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import lseg.data as ld
from lseg.data.discovery import Screener
from lseg.data.discovery import Peers
import datetime
from IPython.display import display, clear_output

## Open the data session

The open_session() function creates and open sessions based on the information contained in the lseg-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
ld.open_session()

## Retrieve data

### Create a screener for EU Large Growth companies

**Note:** refer to the Screener app of LSEG Workspace to build the screening expression you need.

In [3]:
ue_large_growth = Screener('U(IN(indices(19262093/*Thomson Reuters Europe*/))/*UNV:Public*/), TR.CompanyMarketCap>=3604900000, TR.ValMoRegionRank>=70, TR.EQCountryListRank(Period=FY0)>=20, TR.IVPriceToIntrinsicValue<=0.85, TR.PriceMoMidTermComponent>=30,CURN=EUR')

### Print the screened instruments

In [4]:
print(list(ue_large_growth))

['PZU.WA', 'WAWI.OL', 'ICAG.L', 'TLXGn.DE', 'EVKn.DE', 'GTT.PA', 'NN.AS', 'LOG.MC', 'AENA.MC', 'AT1.DE', 'IG.MI', 'PIRC.MI', 'DWSG.DE', 'MNG.L', 'FDJ.PA', 'JDEP.AS', 'TE.PA', 'CTPNV.AS', 'VAR.OL', 'HLUNb.CO', 'DEME.BR', 'AXAF.PA', 'FOUG.PA', 'AKE.PA', 'ORAN.PA', 'NEXS.PA', 'LOIM.PA', 'TEPRF.PA', 'EXHO.PA', 'VIE.PA', 'MICP.PA', 'SGOB.PA', 'HELN.S', 'SQN.S', 'SUN.S', 'AIBG.I', 'BATS.L', 'HSX.L', 'BARC.L', 'HBR.L', 'AV.L', 'BEZG.L', 'BT.L', 'HSBA.L', 'FRAS.L', 'JD.L', 'LLOY.L', 'IGG.L', 'HIK.L', 'ICGIN.L', 'KGF.L', 'GSK.L', 'ITV.L', 'TSCO.L', 'INVP.L', 'NG.L', 'IMB.L', 'ALVG.DE', 'MBGn.DE', 'HEIG.DE', 'DTEGn.DE', 'HNRGn.DE', 'HOTG.DE', 'MUVGn.DE', 'BAMI.MI', 'BGN.MI', 'BMPS.MI', 'BZU.MI', 'GASI.MI', 'ENEI.MI', 'HRA.MI', 'UNPI.MI', 'VOPA.AS', 'AD.AS', 'AEGN.AS', 'SHBa.ST', 'SECUb.ST', 'BKT.MC', 'CABK.MC', 'NTGY.MC', 'MAP.MC', 'ANDR.VI', 'OTPB.BU', 'STRV.VI', 'OMVV.VI', 'VIGR.VI', 'SUBC.OL', 'BKOM.PR', 'BIMAS.IS', 'MBK.WA', 'SPL1.WA', 'IETB.BR', 'AGES.BR', 'GARAN.IS', 'HOLN.S', 'OTEr.AT', 'KCRA.HE', 'NDAFI.HE', 'OPAr.AT', 'PEO.WA', 'PKO.WA', 'PKN.WA', 'DEHr.AT', 'THYAO.IS', 'BOPr.AT', 'YKBNK.IS', 'ZURN.S', 'ACS.MC', 'TTKOM.IS', 'ENGIE.PA', 'DANSKE.CO', 'TELIA.ST', 'VOLVb.ST', 'III.L']

### Use the screener with get_data()

In [5]:
ld.get_data(ue_large_growth, ['BID', 'ASK', 'TR.Revenue'], parameters={'curn':'eur'})

    Instrument             Revenue     BID     ASK
0       PZU.WA                <NA>   47.32   47.33
1      WAWI.OL        4665663370.0   111.9   112.1
2       ICAG.L       29453000000.0   186.4   186.5
3     TLXGn.DE                <NA>   76.55   76.65
4      EVKn.DE       15267000000.0  19.795  19.815
..         ...                 ...     ...     ...
109   ENGIE.PA       82565000000.0   16.12  16.125
110  DANSKE.CO                <NA>   207.2   207.4
111   TELIA.ST    7991531940.99533   33.35   33.37
112   VOLVb.ST  49754250851.296303   254.9     255
113      III.L    4691128288.31103    3073    3075

[114 rows x 4 columns]

### Get Microsoft peers

In [6]:
microsoft_peers = Peers('MSFT.O')

In [7]:
print(list(microsoft_peers))

['CRM.N', 'ADBE.OQ', 'ORCL.N', 'META.OQ', 'AMZN.OQ', 'AAPL.OQ', 'IBM.N', 'OKTA.OQ', 'SAPG.DE', '0700.HK', 'CSCO.OQ', 'HPE.N', '6758.T', '7974.T', 'ZTNO.PK', 'SNOW.N', 'NOW.N', 'WDAY.OQ', 'DDOG.OQ', 'INTU.OQ', 'DOCU.OQ', 'MDB.OQ', 'PANW.OQ', 'TEAM.OQ', 'HUBS.N', 'CFLT.OQ', 'GOOGL.OQ', 'ZM.OQ', 'ZI.OQ', 'NVDA.OQ', 'CRWD.OQ', 'PLTR.N', 'PATH.N', 'TWLO.N', 'DT.N', 'NET.N', 'FTNT.OQ', 'AKAM.OQ', 'ZS.OQ', 'GTLB.OQ', 'SHOP.N', 'CHKP.OQ', 'ESTC.N', 'SMAR.N', 'MNDY.OQ', 'ADSK.OQ', 'VEEV.N', 'INFA.N', 'IOT.N', 'ASAN.N']

### Use the microsoft peers with get_history()

In [8]:
ld.get_history(microsoft_peers, ['BID', 'ASK'])

             CRM.N         ADBE.OQ          ORCL.N         META.OQ          \
               BID     ASK     BID     ASK     BID     ASK     BID     ASK
Date
2024-08-08  249.28  249.33  530.21  530.98  128.98  128.99   509.6  509.63
2024-08-09  252.41  252.53  536.17  536.56  132.06  132.07  517.76  517.84
2024-08-12  251.31  251.49  531.06   531.2  132.68   132.7  515.92  516.24
2024-08-13  254.65  254.66  535.04   535.2  134.22  134.23  528.39  528.55
2024-08-14  255.18  255.32  539.54  539.83  135.53  135.58  526.34  526.62
2024-08-15  262.78  262.88  553.96   554.3  136.93  136.97  537.22   537.4
2024-08-16  262.92  262.93  553.33   553.6  137.44  137.45   527.3  527.49
2024-08-19  265.27  265.28  562.87  563.12  137.88  137.89  529.14   529.2
2024-08-20   261.8  261.81  561.89  562.51   139.2  139.22  526.55  526.61
2024-08-21  260.93  261.15  565.56  565.87  140.18  140.19  534.97  535.17
2024-08-22  258.73  258.75  557.72  558.06  138.11  138.12   532.1  532.19
2024-08-23  263.95  263.96  558.24  558.71   139.1  139.15  527.67   528.0
2024-08-26  265.28  265.37  559.42  559.69  138.92  138.93  521.04  521.19
2024-08-27  264.26  264.31  567.93  568.09  138.45  138.47  519.06  519.23
2024-08-28  258.99  259.07  560.26  560.65  137.91  137.92  516.57  516.95
2024-08-29  256.92  257.04  569.63  569.86  139.42  139.44   518.2  518.48
2024-08-30  252.87   252.9  574.11  574.42  141.29   141.3  521.17  521.45
2024-09-02    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>
2024-09-03  248.11   248.2  571.03  571.23  139.46  139.47   511.7  511.78
2024-09-04  247.66  247.67  575.11  575.32   140.7  140.71  512.58  512.64
2024-09-05  246.13  246.27  567.86  567.94  142.63  142.64  516.85  517.09
2024-09-06    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>

           AMZN.OQ          ... ADSK.OQ          VEEV.N         INFA.N         \
               BID     ASK  ...     BID     ASK     BID     ASK    BID    ASK
Date                        ...
2024-08-08  165.92  165.96  ...  239.11  239.32  185.33  185.46  23.65  23.67
2024-08-09  166.94  166.96  ...  240.28  240.45  186.72   186.8  23.48   23.5
2024-08-12  166.82  166.85  ...  239.58  239.81  185.31  185.44  23.64  23.65
2024-08-13  170.22  170.25  ...  244.61  244.82  190.31  190.32  23.76  23.77
2024-08-14  170.03  170.07  ...  246.09  246.24  188.11  188.12  23.57  23.58
2024-08-15  177.59  177.62  ...   250.0  250.21  192.83  192.86  23.87  23.88
2024-08-16  177.04  177.08  ...  248.12  248.23  192.35   192.6  24.01  24.02
2024-08-19  178.21  178.22  ...  251.01  251.13  193.97  194.28  24.21  24.22
2024-08-20  178.89   178.9  ...  250.13  250.26  193.46  193.67  24.24  24.26
2024-08-21  180.04  180.06  ...   252.0  252.09  201.25  201.44  24.57  24.58
2024-08-22  176.14  176.15  ...  249.91  250.11  197.06  197.07  24.37  24.38
2024-08-23  176.99  177.01  ...  255.18  255.34  199.14  199.25  24.55  24.57
2024-08-26   175.5  175.52  ...  256.21  256.43  198.83  198.93  24.84  24.86
2024-08-27   173.1  173.13  ...  256.99  257.13   200.1  200.11   25.0  25.01
2024-08-28  170.78   170.8  ...  254.45  254.63  199.42  199.69  24.46  24.48
2024-08-29  172.12  172.13  ...  258.04  258.26  217.02  217.03  25.11  25.12
2024-08-30  178.48  178.49  ...  258.28  258.42  216.46  216.58  24.91  24.92
2024-09-02    <NA>    <NA>  ...    <NA>    <NA>    <NA>    <NA>   <NA>   <NA>
2024-09-03  176.31  176.34  ...  257.74   257.9  215.63  215.74  24.41  24.42
2024-09-04  173.27  173.31  ...  255.71  255.79  216.71  216.78  24.32  24.33
2024-09-05  177.87   177.9  ...  251.76  251.77  215.31  215.32  24.41  24.42
2024-09-06    <NA>    <NA>  ...    <NA>    <NA>    <NA>    <NA>   <NA>   <NA>

            IOT.N        ASAN.N
              BID    ASK    BID    ASK
Date
2024-08-08  38.37  38.38  12.79   12.8
2024-08-09  38.22  38.23  12.22  12.23
2024-08-12  38.18  38.19  12.54  12.55
2024-08-13  39.83  39.87  12.95  12.96
2024-08-14  39.73  39.74  12.71  12.72
2024-08-15  39.28  39.29  13.22  13.23
2024-08-16  39.32  39.33  13.24  13.25
2024-08-19  40.34  40.36  13.52  13.53
2024-08-20  40.72  40.73  13.57  13.58
2024-08-21  41.26  41.29  13.85  13.87
2024-08-22  40.86  40.87  13.33  13.34
2024-08-23  41.68  41.69   13.9  13.91
2024-08-26  41.54  41.57  14.51  14.53
2024-08-27  41.98   42.0  14.24  14.25
2024-08-28  41.23  41.25  13.74  13.75
2024-08-29   40.6  40.61  14.03  14.04
2024-08-30  41.03  41.05  14.05  14.07
2024-09-02   <NA>   <NA>   <NA>   <NA>
2024-09-03  39.19  39.21  13.28  13.29
2024-09-04  38.64  38.66   12.6  12.61
2024-09-05  38.76  38.77  12.57  12.58
2024-09-06   <NA>   <NA>   <NA>   <NA>

[22 rows x 100 columns]

### Use the chain with pricing streams

#### Define a callback to receive data events

In [9]:
def display_data(data, instrument, stream):
    clear_output(wait=True)
    current_time = datetime.datetime.now().time()
    print(current_time, "- Data received for", instrument)
    display(data)

#### Open the stream and register the callback

In [10]:
ld.open_pricing_stream(microsoft_peers, ['BID', 'ASK'], on_data=display_data)

09:21:40.564992 - Data received for SAPG.DE

            ASK
SAPG.DE  191.72

In [14]:
stream = ld.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK'],
    on_data=display_data
)

09:21:48.377856 - Data received for NVDA.OQ

            ASK     BID
NVDA.OQ  104.77  104.74

#### Close the stream

In [17]:
stream.close()

### Close the session

In [16]:
ld.close_session()