#### To use DSWS via CodeBook you will need to have access to Datastream and have DSWS enabled on your ID.  Please speak to your account team to facilitate.

## Import DSWS and use your ID and password as per below

In [1]:
import DatastreamPy as dsws
import random
import pandas as pd
from datetime import date, datetime, timedelta

ds=dsws.DataClient(username='YourID',password='YourPwd')

## Snapshot Requests

#### Simple request for one instrument (VOD – for Vodafone Group) and one data type P (which represents the official closing price) would look like this:

In [2]:
ds.get_data(tickers='VOD', fields='P', kind=0)

  Instrument Datatype  Value Currency
0        VOD        P  74.08       £

#### RICs can be used enclosed in <>:

In [3]:
ds.get_data(tickers='<VOD.L>', fields=('P','MV','DY'), kind=0)

  Instrument Datatype     Value Currency       Dates
0    <VOD.L>        P     74.08       £   2024-05-28
1    <VOD.L>       MV  19983.12       £   2024-05-28
2    <VOD.L>       DY     10.36       £   2024-05-28

#### When creating a request for multiple instruments the data type parameters should be set in square brackets:

In [4]:
ds.get_data(tickers='@AAPL, @META, @GOOGL, @MSFT, @NXPI, U:JPM, U:XOM', fields= ['NAME'], kind=0)

  Instrument Datatype                  Value Currency       Dates
0      @AAPL     NAME                  APPLE       U$  2024-05-28
1      @META     NAME       META PLATFORMS A       U$  2024-05-28
2     @GOOGL     NAME             ALPHABET A       U$  2024-05-28
3      @MSFT     NAME              MICROSOFT       U$  2024-05-28
4      @NXPI     NAME     NXP SEMICONDUCTORS       U$  2024-05-28
5      U:JPM     NAME  JP MORGAN CHASE & CO.       U$  2024-05-28
6      U:XOM     NAME            EXXON MOBIL       U$  2024-05-28

#### Creating a request for instruments and data types at a specific point in time. In this case you need to define tickers, fields, date and kind=0 :

In [5]:
ds.get_data (tickers='@AAPL, @META, @GOOGL, @MSFT, U:JPM', fields=['P'], start='2018-01-01', kind=0)

  Instrument Datatype     Value Currency       Dates
0      @AAPL        P   42.3075       U$  2018-01-01
1      @META        P  176.4600       U$  2018-01-01
2     @GOOGL        P   52.6700       U$  2018-01-01
3      @MSFT        P   85.5400       U$  2018-01-01
4      U:JPM        P  106.9400       U$  2018-01-01

## Time Series Examples

#### Get daily data for multiple instruments and data types with fixed date parameters:

In [6]:
ds.get_data (tickers='@AAPL, @META, @GOOGL, @MSFT, @NXPI, U:JPM, U:XOM, U:BAC, U:BABA, U:V',
fields=['P', 'MV', 'PO', 'PH', 'PL', 'VO', 'DY', 'PE'], start='2018-01-01', end='2018-01-10', freq='D')

Instrument,@AAPL,@META,@GOOGL,@MSFT,@NXPI,U:JPM,U:XOM,U:BAC,U:BABA,U:V,...,@AAPL,@META,@GOOGL,@MSFT,@NXPI,U:JPM,U:XOM,U:BAC,U:BABA,U:V
Field,P,P,P,P,P,P,P,P,P,P,...,PE,PE,PE,PE,PE,PE,PE,PE,PE,PE
Currency,U$,U$,U$,U$,U$,U$,U$,U$,U$,U$,...,U$,U$,U$,U$,U$,U$,U$,U$,U$,U$
Dates,,,,,,,,,,,,,,,,,,,,,
2018-01-01,42.3075,176.46,52.6700,85.54,117.09,106.94,83.64,29.52,172.43,114.02,...,18.4,32.8,35.1,28.9,22.5,15.4,27.3,16.8,47.4,4.1
2018-01-02,43.0650,181.42,53.6605,85.95,117.95,107.95,85.03,29.90,183.65,114.51,...,18.7,33.7,35.8,29.1,22.6,15.6,27.7,17.0,50.5,4.1
2018-01-03,43.0575,184.67,54.5760,86.35,118.08,108.06,86.70,29.80,184.00,115.65,...,18.7,34.4,36.4,29.2,22.7,15.6,28.3,17.0,50.6,4.1
2018-01-04,43.2575,184.33,54.7880,87.11,117.87,109.04,86.82,30.19,185.71,116.08,...,18.8,34.3,36.5,29.5,22.6,15.7,28.3,17.2,51.1,4.2
2018-01-05,43.7500,186.85,55.5145,88.19,118.05,108.34,86.75,30.33,190.70,118.86,...,19.0,34.8,37.0,29.8,22.6,15.6,28.3,17.3,52.5,4.2
2018-01-08,43.5875,188.28,55.7105,88.28,118.28,108.50,87.14,30.12,190.33,119.34,...,18.9,35.0,37.1,29.9,22.7,15.6,28.4,17.2,52.4,4.3
2018-01-09,43.5825,187.87,55.6395,88.22,118.45,109.05,86.77,30.27,190.80,119.11,...,18.9,34.9,37.1,29.9,22.7,15.7,28.3,17.3,52.5,4.3
2018-01-10,43.5725,187.84,55.5070,87.82,119.15,110.25,86.08,30.55,189.79,118.98,...,18.9,34.9,37.0,29.7,22.9,15.9,28.1,17.4,52.2,4.3

#### Worldscope data using a 5 year rolling history:

In [7]:
ds.get_data(tickers='@AAPL, @META, @GOOGL, @MSFT, @NXPI, U:JPM, U:XOM, U:BAC, U:BABA, U:V',
fields=['WC08311','WC18191', 'WC18100', 'WC08106', 'WC08376'], start='-5Y', freq='Y')

Instrument,@AAPL,@META,@GOOGL,@MSFT,@NXPI,U:JPM,U:XOM,U:BAC,U:BABA,U:V,...,@AAPL,@META,@GOOGL,@MSFT,@NXPI,U:JPM,U:XOM,U:BAC,U:BABA,U:V
Field,WC08311,WC08311,WC08311,WC08311,WC08311,WC08311,WC08311,WC08311,WC08311,WC08311,...,WC08376,WC08376,WC08376,WC08376,WC08376,WC08376,WC08376,WC08376,WC08376,WC08376
Currency,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
Dates,,,,,,,,,,,,,,,,,,,,,
2019-05-28,28.01,41.11,33.18,38.40,28.68,37.44,11.27,41.62,31.51,83.07,...,27.65,19.93,17.76,24.02,3.40,5.64,6.22,5.50,13.54,23.66
2020-05-28,27.32,48.24,34.68,43.46,23.73,40.84,9.14,41.20,31.23,86.23,...,31.66,25.32,18.20,24.89,2.49,4.23,-9.01,3.11,17.39,19.49
2021-05-28,29.78,48.32,36.17,46.21,31.76,42.48,15.89,43.57,25.27,90.97,...,52.72,30.98,30.27,31.26,12.81,6.20,10.45,4.61,13.82,20.89
2022-05-28,30.67,38.41,33.14,44.68,32.31,34.80,19.31,33.02,18.86,90.43,...,56.68,17.73,22.41,33.51,18.14,5.52,24.13,5.00,5.30,25.82
2023-05-28,30.56,49.87,34.35,42.46,30.94,26.82,17.81,23.78,21.44,94.25,...,57.87,25.57,26.02,29.46,16.29,7.38,14.73,7.39,5.92,29.85
2024-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.86,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.57,NaN

#### Daily frequency IBES company level EPS1MN, SAL1MN data over 6 months:

In [8]:
ds.get_data(tickers='@AAPL, @META, @GOOGL, @MSFT, @NXPI, U:JPM, U:XOM, U:BAC, U:BABA, U:V',
fields=['EPS1MN', 'SAL1MN'], start='-1Y',end='-6M', freq='D')

Instrument,@AAPL,@META,@GOOGL,@MSFT,@NXPI,U:JPM,U:XOM,U:BAC,U:BABA,U:V,@AAPL,@META,@GOOGL,@MSFT,@NXPI,U:JPM,U:XOM,U:BAC,U:BABA,U:V
Field,EPS1MN,EPS1MN,EPS1MN,EPS1MN,EPS1MN,EPS1MN,EPS1MN,EPS1MN,EPS1MN,EPS1MN,SAL1MN,SAL1MN,SAL1MN,SAL1MN,SAL1MN,SAL1MN,SAL1MN,SAL1MN,SAL1MN,SAL1MN
Currency,U$,U$,U$,U$,U$,U$,U$,U$,CH,U$,U$,U$,U$,U$,U$,U$,U$,U$,CH,U$
Dates,,,,,,,,,,,,,,,,,,,,
2023-05-26,5.97,11.70,5.34,9.68,13.33,14.60,10.08,3.43,60.45,8.60,384805.9,126420.0,300238.9,211300.6,12953.98,151455.8,371329.9,100896.7,957572.6,32574.10
2023-05-29,5.97,11.70,5.34,9.68,13.33,14.60,10.08,3.43,60.45,8.60,384805.9,126420.0,300238.9,211300.6,12953.98,151455.8,371329.9,100896.7,957572.6,32574.10
2023-05-30,5.97,11.70,5.34,9.68,13.33,14.60,10.08,3.43,60.45,8.60,384805.9,126420.0,300238.9,211300.6,12953.98,151455.8,371329.9,100896.7,957572.6,32574.10
2023-05-31,5.97,11.70,5.34,9.68,13.33,14.60,10.08,3.43,60.45,8.60,384805.9,126420.0,300238.9,211300.6,12953.98,151455.8,371329.9,100896.7,957572.6,32574.10
2023-06-01,5.97,11.70,5.34,9.68,13.33,14.60,10.08,3.43,60.45,8.60,384805.9,126420.0,300238.9,211300.6,12953.98,151455.8,371329.9,100896.7,957572.6,32574.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-22,6.57,14.38,5.74,11.24,13.97,16.79,9.31,3.47,66.38,9.89,396882.4,133581.5,305693.6,243084.2,13254.18,160463.9,348047.1,101187.0,958014.8,35879.51
2023-11-23,6.57,14.38,5.74,11.24,13.97,16.79,9.31,3.47,66.38,9.89,396882.4,133581.5,305693.6,243084.2,13254.18,160463.9,348047.1,101187.0,958014.8,35879.51
2023-11-24,6.57,14.38,5.74,11.24,13.97,16.79,9.31,3.47,66.38,9.89,396882.4,133581.5,305693.6,243084.2,13254.18,160463.9,348047.1,101187.0,958014.8,35879.51
2023-11-27,6.57,14.38,5.74,11.24,13.97,16.79,9.31,3.47,66.38,9.89,396882.4,133581.5,305693.6,243084.2,13254.18,160463.9,348047.1,101187.0,958014.8,35879.51
2023-11-28,6.57,14.38,5.74,11.24,13.97,16.79,9.31,3.47,66.38,9.89,396882.4,133581.5,305693.6,243084.2,13254.18,160463.9,348047.1,101187.0,958014.8,35879.51

#### Five years of yearly frequency ESG data for given instruments:

In [9]:
ds.get_data(tickers='@AAPL, @META, @GOOGL, @MSFT, @NXPI, U:JPM, U:XOM, U:BAC, U:BABA, U:V',
fields=['SOCOO01V','ENPIDP048','SOHRDP012','SOEQ','SOTDDP018','SODODP0012','ENRRDP033','ENERDP052','CGVSDP030'], start='-5Y', freq='Y')

Instrument,@AAPL,@MSFT,U:XOM,U:BAC,U:BABA,U:V,@AAPL,@META,@GOOGL,@MSFT,...,U:V,@AAPL,@META,@GOOGL,@MSFT,@NXPI,U:XOM,U:BAC,U:BABA,U:V
Field,SOCOO01V,SOCOO01V,SOCOO01V,SOCOO01V,SOCOO01V,SOCOO01V,ENPIDP048,ENPIDP048,ENPIDP048,ENPIDP048,...,ENERDP052,CGVSDP030,CGVSDP030,CGVSDP030,CGVSDP030,CGVSDP030,CGVSDP030,CGVSDP030,CGVSDP030,CGVSDP030
Currency,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
Dates,,,,,,,,,,,,,,,,,,,,,
2019-05-28,730.28,14713.57,987.94,1074.04,663.40,781.01,Y,N,Y,Y,...,2039.8,Y,Y,Y,None,None,Y,Y,None,Y
2020-05-28,910.70,16281.51,1135.66,2771.02,3543.18,2114.53,Y,N,Y,Y,...,1040.0,Y,Y,Y,Y,None,Y,Y,None,Y
2021-05-28,683.40,17188.02,590.55,2468.78,NaN,1966.40,Y,N,Y,Y,...,230.0,Y,Y,Y,Y,None,Y,Y,Y,Y
2022-05-28,NaN,NaN,397.07,6034.76,NaN,1876.49,Y,Y,Y,Y,...,490.0,Y,Y,Y,Y,None,Y,Y,Y,Y
2023-05-28,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,...,NaN,None,None,None,None,N,None,None,None,None
2024-05-28,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,...,NaN,None,None,None,None,None,None,None,None,None

#### Next date of Release (NDoR) for economic series

In [10]:
ds.get_data(tickers='CNCONPRCF',fields=['DS.NDOR1'])

  Instrument              Datatype       Value Currency
0  CNCONPRCF         DS.NDOR1_DATE  2024-06-25       NA
1  CNCONPRCF  DS.NDOR1_DATE_LATEST  2024-06-25       NA
2  CNCONPRCF     DS.NDOR1_TIME_GMT       12:30       NA
3  CNCONPRCF    DS.NDOR1_DATE_FLAG    Official       NA
4  CNCONPRCF   DS.NDOR1_REF_PERIOD  2024-05-15       NA
5  CNCONPRCF         DS.NDOR1_TYPE    NewValue       NA

#### Economics Point in Time

In [11]:
ds.get_data(tickers='CNCONPRCF', fields=['REL1','DREL1'], start='-2Y', end='0D', freq='M')

Instrument CNCONPRCF
Field           REL1       DREL1
Currency          C$          C$
Dates
2022-05-15     151.9  2022-06-22
2022-06-15     152.9  2022-07-20
2022-07-15     153.1  2022-08-16
2022-08-15     152.6  2022-09-20
2022-09-15     152.7  2022-10-19
2022-10-15     153.8  2022-11-16
2022-11-15     154.0  2022-12-21
2022-12-15     153.1  2023-01-17
2023-01-15     153.9  2023-02-21
2023-02-15     154.5  2023-03-21
2023-03-15     155.3  2023-04-18
2023-04-15     156.4  2023-05-16
2023-05-15     157.0  2023-06-27
2023-06-15     157.2  2023-07-18
2023-07-15     158.1  2023-08-15
2023-08-15     158.7  2023-09-19
2023-09-15     158.5  2023-10-17
2023-10-15     158.6  2023-11-21
2023-11-15     158.8  2023-12-19
2023-12-15     158.3  2024-01-16
2024-01-15     158.3  2024-02-20
2024-02-15     158.8  2024-03-19
2024-03-15     159.8  2024-04-16
2024-04-15     160.6  2024-05-21
2024-05-15       NaN        None

## List and functions/expressions request

#### Datastream also supports Constituent Lists of instruments, e.g. LFTSE100, LS&PCOMP, LDAXINDX, LSTOKYOSE, etc. List instruments are only supported in Snapshot mode, and only one list is permitted per request. The datatypes supplied with the list request are applied to all the constituents of the list. These lists can be searched for using DFO, EIKON, etc.  List request must carry |L after the instrument as in below example where the output will show us mnemonics for all constituents of the list LINSURIT (Insurance IT). Please set |L to simplify post-processing of the response.

In [12]:
ds.get_data(tickers="LINSURIT|L",fields =["MNEM"], kind=0)

  Instrument Datatype   Value Currency       Dates
0     923375     MNEM     I:G       E   2024-05-28
1     51269L     MNEM   I:PST       E   2024-05-28
2     2703Z9     MNEM  I:REVI       E   2024-05-28
3     505136     MNEM   I:UNI       E   2024-05-28
4     929455     MNEM    I:US       E   2024-05-28

#### Functions must carry |E when being requested. This enables the server to perform different processing of the instrument field.

In [13]:
ds.get_data(tickers='PCH#(VOD(P),3M)|E', start="20181101",end="-1M", freq="M")

Instrument PCH#(VOD(P),3M)
Field
Currency                 £
Dates
2018-11-01          -17.82
2018-12-01            0.91
2019-01-01           -5.62
2019-02-01           -8.36
2019-03-01          -20.12
...                    ...
2023-12-01           -2.62
2024-01-01          -10.75
2024-02-01          -10.46
2024-03-01           -1.69
2024-04-01            2.77

[66 rows x 1 columns]

## Symbol substitution


#### You can simplify the use of expressions using the “Symbol substitution” feature in the fields part of the request, where each requested instrument is substituted for X in any expression (e.g. in expression PCH#(VOD,-1M), VOD will be substituted by X).

In [14]:
ds.get_data(tickers='VOD', fields=['PCH#(X,-1M)'], start='-1D',kind=0)

  Instrument     Datatype  Value Currency
0        VOD  PCH#(X,-1M)    6.4       £

## Transposing

#### If you would like to change the layout of data, you can use the example below to transpose columns to rows. By using below “data1” – instrument, fields and date will be rearranged to rows. Similarly, with second example (data2), instruments, fields and date will be visible in row instead of column.

In [15]:
data1=ds.get_data(tickers='@AAPL', fields=['P'], start='-2D', end='-0D', freq='D')
data1.transpose()

Dates                      2024-05-24  2024-05-27  2024-05-28
Instrument Field Currency
@AAPL      P     U$            189.98      189.98      189.99

In [16]:
data2 = ds.get_data(tickers='VOD', fields=['P','MV',], start='2017-01-01', kind=0)
data2.transpose()

                     0           1
Instrument         VOD         VOD
Datatype             P          MV
Value           199.85    53194.39
Currency            £           £
Dates       2017-01-01  2017-01-01

## Managing custom timeseries items

Datastream permits users to create and manage custom items. One of these types is custom timeseries data. Clients can upload their own timeseries data to Datastream’s central systems. These can then be used in combination with Datastream maintained series in charts and data requests with the full power of the Datastream expressions language.

In [18]:
timeseriesClient = dsws.TimeseriesClient(username='YourID',password='YourPwd')

# Note Timeseries IDs must be 8 uppercase alphanumeric characters in length and start with TS. e.g. TSZZZ001
testID = 'TSZZZ001'

# let us create a data series with quarterly values between 2016-01-01 and 2022-04-01
startDate = date(2016, 1, 1)
endDate = date(2022, 4, 1)
freq = dsws.DSUserObjectFrequency.Quarterly

# First step is to retrieve the list of supported dates for the above period
dateRangeResp = timeseriesClient.GetTimeseriesDateRange(startDate, endDate, freq)
if dateRangeResp:
    if dateRangeResp.ResponseStatus == dsws.DSUserObjectResponseStatus.UserObjectSuccess and dateRangeResp.Dates != None:
        # You would normally use the returned supported dates to match up with dates in your data source
        # Here we will just create some random data based on the number of returned dates
        random.seed()
        values = [(random.randint(1000, 20000) / 100) for k in range(0, len(dateRangeResp.Dates))]

        # Construct our timeseries object with the ID, start and end dates, frequency and list of datapoints
        testTs = dsws.DSTimeSeriesRequestObject(testID, startDate, endDate, freq, values)

        # Set any other optional properties directly
        testTs.DisplayName = 'My first test timeseries' # set to the same as the ID in the response by default.
        testTs.DecimalPlaces = 2 # we created our array of values with 2 decimal places. You can specify 0 to 8 decimal places.
        testTs.Units = "Billions"  # Leave units blank or set with any custom text (max 12 chars).
        # when requested by users in data retrieval, you can specify the quarterly dates to be returned as start, middle or end of 
        # the selected period (frequency). Here we want the quarterly data to be mid period (15th of middle month)
        testTs.DateAlignment = dsws.DSTimeSeriesDateAlignment.MidPeriod 

        # and create the new item with the overWrite option set to perfrom an update if the timeseries already exists.
        tsResponse = timeseriesClient.CreateItem(testTs, overWrite = True)

        # Any request dealing with a single user created item returns a DSUserObjectResponse.
        # This has ResponseStatus property that indicates success or failure
        if tsResponse.ResponseStatus != dsws.DSUserObjectResponseStatus.UserObjectSuccess:
            print('Request failed for timeseries with error ' + tsResponse.ResponseStatus.name + ': ' + tsResponse.ErrorMessage, end='\n\n')
        elif tsResponse.UserObject != None:  # The timeseries item won't be returned if you set SkipItem true in CreateItem or UpdateItem
            # Here we simply display the timeseries data using a dataframe.
            tsItem = tsResponse.UserObject
            names = ['Id', 'Desc', 'LastModified', 'StartDate', 'EndDate', 'Frequency', 'NoOfValues']
            coldata = [tsItem.Id, tsItem.Description, tsItem.LastModified.strftime("%Y-%m-%d"), 
                        tsItem.DateInfo.StartDate.strftime("%Y-%m-%d"), tsItem.DateInfo.EndDate.strftime("%Y-%m-%d"),
                        tsItem.DateInfo.Frequency.name, tsItem.DateRange.ValuesCount]
            df = pd.DataFrame(coldata, index=names)
df

                                     0
Id                            TSZZZ001
Desc          My first test timeseries
LastModified                2024-05-29
StartDate                   2016-02-15
EndDate                     2022-05-15
Frequency                    Quarterly
NoOfValues                          26

You can also obtain summary details for all the timeseries you currently have or retrieve the full details for a specified item. The class also supports methods that allow you to modify or delete a given timeseries:

In [19]:
# list all the custom timeseries you already own
itemsResp = timeseriesClient.GetAllItems()
# Returns a DSUserObjectGetAllResponse which has ResponseStatus property that indicates success or failure for the query
if itemsResp:
    if itemsResp.ResponseStatus != dsws.DSUserObjectResponseStatus.UserObjectSuccess:
        # Your Datastream Id might not be permissioned for managing user created items on this API
        print('GetAllItems failed with error ' + itemsResp.ResponseStatus.name + ': ' + itemsResp.ErrorMessage, end='\n\n')
    elif itemsResp.UserObjectsCount == 0 or itemsResp.UserObjects == None:
        print('GetAllItems returned zero timeseries items.', end='\n\n')
    else:
        # """You do have access to some timeseries.
        # Here we just put the timeseries details into a dataframe and list them
        print('{}{}{}'.format('GetAllItems returned ', itemsResp.UserObjectsCount, ' timeseries items.'))
        data  = []
        colnames = ['Id', 'Start', 'End', 'Freq', 'DPs']
        for tsItem in itemsResp.UserObjects:
            if tsItem:
                rowdata = [tsItem.Id, tsItem.DateInfo.StartDate.strftime("%Y-%m-%d"), tsItem.DateInfo.EndDate.strftime("%Y-%m-%d"),
                           tsItem.DateInfo.Frequency.name, tsItem.DateRange.ValuesCount]
                data.append(rowdata)
        df = pd.DataFrame(data, columns=colnames)
        print(df, end='\n\n')


# To retrieve the full details of a specific timeseries use the GetItem method
tsResponse = timeseriesClient.GetItem(testID)
if tsResponse.ResponseStatus != dsws.DSUserObjectResponseStatus.UserObjectSuccess:
    print('Request failed for timeseries with error ' + tsResponse.ResponseStatus.name + ': ' + tsResponse.ErrorMessage, end='\n\n')
elif tsResponse.UserObject != None:  # The timeseries item won't be returned if you set SkipItem true in CreateItem or UpdateItem
    # Here we simply display the timeseries data using a dataframe.
    tsItem = tsResponse.UserObject
    names = ['Id', 'Desc', 'LastModified', 'StartDate', 'EndDate', 'Frequency', 'NoOfValues']
    coldata = [tsItem.Id, tsItem.Description, tsItem.LastModified.strftime("%Y-%m-%d"), 
                tsItem.DateInfo.StartDate.strftime("%Y-%m-%d"), tsItem.DateInfo.EndDate.strftime("%Y-%m-%d"),
                tsItem.DateInfo.Frequency.name, tsItem.DateRange.ValuesCount]
    df = pd.DataFrame(coldata, index=names)

# updating an item takes the same parameters as CreateItem. See how we construct testTs above
tsResponse = timeseriesClient.UpdateItem(testTs)

# And we can delete the item using the test ID we defined in the CreateItem step
delResp = timeseriesClient.DeleteItem(testID)

GetAllItems returned 763 timeseries items.
           Id       Start         End       Freq  DPs
0    TS000055  2018-01-31  2019-06-30    Monthly   18
1    TS000301  2001-01-31  2019-01-31    Monthly  217
2    TS000302  2001-01-31  2019-01-31    Monthly  217
3    TS000303  2001-01-31  2019-01-31    Monthly  217
4    TS000304  2001-01-31  2019-01-31    Monthly  217
..        ...         ...         ...        ...  ...
758  TSYAWBPO  1996-12-31  2019-12-31     Yearly   24
759  TSZAWBPO  1996-12-31  2019-12-31     Yearly   24
760  TSZIWBPO  1996-12-31  2019-12-31     Yearly   24
761  TSZMWBPO  1996-12-31  2019-12-31     Yearly   24
762  TSZZZ001  2016-02-15  2022-05-15  Quarterly   26

[763 rows x 5 columns]

## Creating custom economic filters

Datastream provides access to over 19 million economic series. With coverage of this extent, it can be difficult to prioritise which region, country, sector or industry to analyse and investigate. With this in mind, clients that access the full Datatstream Web Service can now poll for the latest changes and corrections to any of the economic series.

Even with polling for changes and corrections, the large number of economic series supported can produce a large number of updates to process each day. To reduce the number of updates, Datastream provides a global filter, DATASTREAM_KEYIND_GLOBAL, that comprises the 25K most prominent series. Querying for updates using this filter can significantly reduce the number of updates reported.

Clients can now also create their own custom filters comprising up to 100K series and use these to query for changes and corrections. This section demonstrates using the DatastreamPy package to create and manage custom filters.

First of all let us see how to query for a list of economic items that have updated since a given start date. Then we will demonstrate using the built in filter DATASTREAM_KEYIND_GLOBAL to restrict the number of updates to a specified list of economic series.

Polling for recent changes requires using a starting sequence ID and retrieving up to 10K updates with each polling request. As we process each response, we retrieve in the response the next sequence ID to request in the chain of updates until we are instructed that there are no more updates. We would then use the returned final sequence ID to poll every 10 minutes until we receive a response with new updates.

In [ ]:
# Try creating the client by replacing 'YourID' and 'YourPwd' with your own credentials.
econFilterClient = dsws.EconomicFilters(username='YourID',password='YourPwd')

# We'll start searching for any changes beginning 3 weeks ago (you can go back a maximum of 28 days)
# NB: Setting the timestamp to None will set the start date at 00:00 hours on the previous weekday from now
updatesResp = econFilterClient.GetEconomicChanges(datetime.today() - timedelta(days=21))
# this should tell us the start sequence ID for updates from the given start datetime and how many updates we have pending
sequenceId = 0 # placeholder which we will update and use later in the demo
if updatesResp:
    if updatesResp.ResponseStatus != dsws.DSFilterResponseStatus.FilterSuccess:
        # Any filter request errors, such as invalid filter, not being explicity permissioned to use custom economic filters, etc.
        print('GetEconomicChanges failed with error ' + updatesResp.ResponseStatus.name + ': ' + updatesResp.ErrorMessage)
    else:
        sequenceId = updatesResp.NextSequenceId
        # we'll now use this starting sequence in the following test cells.
        updatesResp = econFilterClient.GetEconomicChanges(None, sequenceId)
        if updatesResp:
            if updatesResp.ResponseStatus != dsws.DSFilterResponseStatus.FilterSuccess:
                print('GetEconomicChanges failed with error ' + updatesResp.ResponseStatus.name + ': ' + updatesResp.ErrorMessage)
            else:
                if updatesResp.Updates and updatesResp.UpdatesCount > 0:
                    # You have some updates; process them and retrieve the NextSequenceID for retrieving any subsequent updates.
                    print ('You have {:,} new updates:'.format(updatesResp.UpdatesCount))
                    updates = [[update.Series, update.Frequency.name, update.Updated.strftime('%Y-%m-%d %H:%M:%S')] for update in updatesResp.Updates]
                    df = pd.DataFrame(data=updates, columns=['Series', 'Frequency', 'Updated'])
                    print(df, end='\n\n')
                if updatesResp.UpdatesPending:
                    print ('You still have {:,} updates pending starting from new sequence {}.'.format(updatesResp.PendingCount, updatesResp.NextSequenceId))
                else:
                    print ('You have no more updates pending. Use the new sequence {} to begin polling for future updates.'.format(updatesResp.NextSequenceId))

# Whilst updatesResp.UpdatesPending is True you would retrieve the next request sequence from updatesResp.NextSequenceId and request the next block of updates.
# You would continue walking through the chain until you receive the final chain with updatesResp.UpdatesPending returning False
# At this point the value in updatesResp.NextSequenceId will contain the ID for the next update that occurs. You then use this ID in periodic polls
# (minimum every 10 minutes) to wait for new updates to be notified.

## Size of Requests

#### Users are advised of the maximum size limits of DSWS requests via Python:
- Maximum instruments per request 50
- Maximum datatypes per request 50
- Maximum items (instrument x datatypes) per request not to exceed 100

#### The above limits permit the following example permutations in single request:
- 50 instruments x 2 datatypes
- 2 instruments x 50 datatypes
- 1 constituent list x 50 datatypes (you can never request more than one constituent list)
- 10 instruments x 10 datatypes

#### When using Bundle request, where a collection of single request can be supplied, there are additional limits imposed on the number of items that can be requested across the bundle:
- The maximum number of Requests (reqs.append) per bundled request: 20
- The maximum number of items (instruments x datatypes) across all Requests: 500

#### The above limits permit the following example permutations in any one Bundle request:
- Up to 5 Requests each requesting 100 items
- 10 Requests each requesting 50 items
- 20 Requests each requesting 25 items